In [12]:
import pandas as pd
import datetime

In [13]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [14]:
# to show all rows and columns 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [15]:
# read the csv into a pandas dataframe
df = pd.read_csv('Data/Sample-Superstore.csv', encoding='windows-1254')
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [16]:
for x, data in df.groupby(["State"]):
    print(x, sum(data["Sales"]))

Alabama 19510.639999999992
Arizona 35282.001
Arkansas 11678.129999999997
California 457687.631500001
Colorado 32108.117999999995
Connecticut 13384.356999999996
Delaware 27451.068999999992
District of Columbia 2865.0199999999995
Florida 89473.708
Georgia 49095.840000000004
Idaho 4382.486000000002
Illinois 80166.10099999986
Indiana 53555.36
Iowa 4579.759999999999
Kansas 2914.31
Kentucky 36591.74999999997
Louisiana 9217.029999999999
Maine 1270.5300000000002
Maryland 23705.523
Massachusetts 28634.433999999994
Michigan 76269.61400000002
Minnesota 29863.149999999994
Mississippi 10771.34
Missouri 22205.149999999998
Montana 5589.351999999997
Nebraska 7464.9299999999985
Nevada 16729.102
New Hampshire 7292.523999999999
New Jersey 35764.31200000001
New Mexico 4783.521999999999
New York 310876.2709999998
North Carolina 55603.16399999997
North Dakota 919.91
Ohio 78258.13599999993
Oklahoma 19683.39
Oregon 17431.14999999999
Pennsylvania 116511.91400000003
Rhode Island 22627.955999999995
South Carolina 8481.71
South Dakota 1315.5600000000002
Tennessee 30661.87299999998
Texas 170188.04580000002
Utah 11220.055999999999
Vermont 8929.369999999999
Virginia 70636.71999999999
Washington 138641.26999999993
West Virginia 1209.824
Wisconsin 32114.61000000002
Wyoming 1603.136

In [17]:
df["Unit_Price"] = round(df["Sales"] / df["Quantity"] / (1-df["Discount"]), 4)

In [18]:
most_used_product = None
most_used_count = 0

for pid, data in df.groupby("Product ID"):
    group_size = len(data)
    if group_size > most_used_count:
        most_used_product = pid
        most_used_count = group_size

print("Most frequently used Product_ID:", most_used_product)
print("Count:", most_used_count)

Most frequently used Product_ID: OFF-PA-10001970
Count: 19

In [19]:
i = 0
for productID, data in df.groupby("Product ID"):
    if len(data["Product Name"].drop_duplicates()) > 1:
        for productName, data2 in data.groupby("Product Name"):
            #print(productID, min(data2["Order Date"]), max(data2["Order Date"]), productName)
            if len(data2["Unit_Price"].drop_duplicates()) > 1:
                print(productID)
        #     display(data[["Product ID", "Category", "Sub-Category", "Product Name", "Unit_Price"]].drop_duplicates())
        #     i += 1
#        break
print(i)

0

In [20]:
i = 0
for productID, data in df.groupby("Product ID"):
    if len(data["Product Name"].drop_duplicates()) > 1:
        # print(productID)
        # display(data[["Product ID", "Category", "Sub-Category", "Product Name", "Unit_Price"]].drop_duplicates())
        i += 2
#        break
    else:
        i += 1
print(i)

1894

In [21]:
i = 0
for x, data in df.groupby(["Category", "Sub-Category", "Unit_Price"]):
    i += 1

print(i)

1374

In [22]:
display(df[(df["Product ID"] == "OFF-PA-10001970")]) #  & (df.Unit_Price == 35.44)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Unit_Price
350,351,CA-2016-129714,2016-09-01,2016-09-03,First Class,AB-10060,Adam Bellavance,Home Office,United States,New York City,New York,10009,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,24.560,2,0.0,11.5432,12.28
352,353,CA-2016-129714,2016-09-01,2016-09-03,First Class,AB-10060,Adam Bellavance,Home Office,United States,New York City,New York,10009,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,49.120,4,0.0,23.0864,12.28
411,412,CA-2017-117457,2017-12-08,2017-12-12,Standard Class,KH-16510,Keith Herrera,Consumer,United States,San Francisco,California,94110,West,OFF-PA-10001970,Office Supplies,Paper,Xerox 1908,55.980,1,0.0,27.4302,55.98
437,438,CA-2016-147375,2016-06-12,2016-06-14,Second Class,PO-19180,Philisse Overcash,Home Office,United States,Chicago,Illinois,60623,Central,OFF-PA-10001970,Office Supplies,Paper,Xerox 1908,313.488,7,0.2,113.6394,55.98
1071,1072,CA-2016-152814,2016-04-28,2016-05-02,Standard Class,EH-14005,Erica Hernandez,Home Office,United States,Denver,Colorado,80219,West,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,29.472,3,0.2,9.9468,12.28
1117,1118,CA-2015-142755,2015-09-04,2015-09-08,Standard Class,CS-12355,Christine Sundaresam,Consumer,United States,Roswell,Georgia,30076,South,OFF-PA-10001970,Office Supplies,Paper,Xerox 1908,279.900,5,0.0,137.1510,55.98
1191,1192,CA-2017-117212,2017-02-26,2017-02-28,Second Class,BT-11530,Bradley Talbott,Home Office,United States,Los Angeles,California,90036,West,OFF-PA-10001970,Office Supplies,Paper,Xerox 1908,223.920,4,0.0,109.7208,55.98
3663,3664,US-2017-129777,2017-07-03,2017-07-09,Standard Class,FM-14290,Frank Merwin,Home Office,United States,Quincy,Massachusetts,2169,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,24.560,2,0.0,11.5432,12.28
3850,3851,CA-2015-142377,2015-12-04,2015-12-09,Standard Class,MS-17980,Michael Stewart,Corporate,United States,Springfield,Missouri,65807,Central,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,85.960,7,0.0,40.4012,12.28
3949,3950,CA-2016-119963,2016-11-18,2016-11-22,Standard Class,SN-20710,Steve Nguyen,Home Office,United States,Pasadena,Texas,77506,Central,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,19.648,2,0.2,6.6312,12.28
5282,5283,CA-2015-105158,2015-09-05,2015-09-10,Standard Class,SP-20860,Sung Pak,Corporate,United States,Rochester,Minnesota,55901,Central,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,36.840,3,0.0,17.3148,12.28
6334,6335,CA-2014-133305,2014-07-11,2014-07-15,Standard Class,MH-17455,Mark Hamilton,Consumer,United States,New York City,New York,10011,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,49.120,4,0.0,23.0864,12.28
6508,6509,CA-2017-102197,2017-12-20,2017-12-26,Standard Class,DK-13150,David Kendrick,Corporate,United States,New York City,New York,10009,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1908,279.900,5,0.0,137.1510,55.98
7896,7897,CA-2017-124744,2017-06-21,2017-06-25,Standard Class,EH-14125,Eugene Hildebrand,Home Office,United States,Wheeling,West Virginia,26003,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1908,447.840,8,0.0,219.4416,55.98
8060,8061,CA-2015-156013,2015-09-20,2015-09-26,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Long Beach,New York,11561,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,61.400,5,0.0,28.8580,12.28
8134,8135,CA-2015-121776,2015-02-16,2015-02-21,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Los Angeles,California,90008,West,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,36.840,3,0.0,17.3148,12.28
9183,9184,CA-2017-156776,2017-08-07,2017-08-11,Standard Class,JL-15505,Jeremy Lonsdale,Consumer,United States,Westminster,California,92683,West,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,24.560,2,0.0,11.5432,12.28
9387,9388,US-2017-127292,2017-01-19,2017-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,5408,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.280,1,0.0,5.7716,12.28
9505,9506,CA-2016-113607,2016-10-14,2016-10-18,Standard Class,PW-19030,Pauline Webber,Corporate,United States,New York City,New York,10009,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1908,111.960,2,0.0,54.8604,55.98

In [23]:
print(df["Product ID"].value_counts().shape)
df["Product ID"].head()
df.head()

(1862,)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Unit_Price
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,130.98
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,243.98
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,7.31
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,348.21
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,13.98

## Global Superstore Data
### Contains 51290 lines with 24 columns (+ Market, Shipping Cost, Order Priority)
### Contains a additional sheet with 2033 returns

In [51]:
# read the csv into a pandas dataframe
df_g = pd.read_csv('Data/Global-Superstore-Orders.csv')
df_g['Order Date'] = pd.to_datetime(df_g['Order Date'])
df_g['Ship Date'] = pd.to_datetime(df_g['Ship Date'])

In [52]:
for x, data in df_g.groupby(["State"]):
    print(x, sum(data["Sales"]))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
df_g["Sales"] = df_g["Sales"].str.replace(',', '.')
df_g = df_g.astype({'Sales': 'float64'})

for x, data in df_g.groupby(["State"]):
    print(x, sum(data["Sales"]))

'Ajman 209.988
'Amman 7167.989999999999
'Asir 1603.5
Abia 1064.124
Abidjan 15525.360000000002
Abruzzi 6723.750000000002
Abuja Capital Territory 38.016
Aceh 337.5057
Acre 701.98
Ad Dawhah 6049.799999999999
Adamaoua 774.0899999999999
Adamawa 186.111
Adana 5463.720000000002
Adiyaman 502.50000000000006
Afyonkarahisar 43.104
Aichi 1596.7200000000003
Aksaray 110.19600000000001
Akwa Ibom 281.403
Al Asimah 1094.22
Al Bahr Al Ahmar 2586.66
Al Basrah 13257.210000000003
Al Buhayrah 709.83
Al Fayyum 1164.4200000000003
Al Gharbiyah 6084.209999999999
Al Hudaydah 78.97500000000001
Al Iskandariyah 19899.390000000018
Al Jawf 3165.84
Al Madinah 4619.009999999998
Al Marqab 67.74
Al Minufiyah 311.25
Al Minya 2968.620000000001
Al Qadisiyah 4182.660000000001
Al Qahirah 38439.780000000006
Alabama 19510.64
Alagoas 5677.994200000001
Alajuela 962.852
Alberta 6550.86
Alger 9270.06
Alibori 268.77000000000004
Almaty 200.79899999999998
Almaty City 594.1259999999997
Alsace-Champagne-Ardenne-Lorraine 47370.45000000001
Amapá 5689.48516
Amasya 252.588
Amazonas 6114.33192
Amur 3636.0899999999997
Analamanga 9604.500000000002
Anambra 700.8659999999998
Ancash 268.72799999999995
Andalusía 35335.40700000001
Andhra Pradesh 19019.760000000006
Andijan 567.7500000000001
Anhui 34108.65000000001
Ankara 13182.960000000005
Annaba 2921.429999999999
Anseba 187.73999999999998
Antalya 2226.4200000000005
Antioquia 15672.217320000002
Antofagasta 1082.50032
Antwerp 14794.68
Anzoátegui 1565.076
Aomori 58.5
Apulia 23774.892000000007
Aqmola 528.57
Aquitaine-Limousin-Poitou-Charentes 65646.396
Ar Raqqah 101.04
Ar Riyad 32958.600000000006
Arad 169.68
Aragua 1851.7521599999998
Arauca 1537.53012
Arbil 9226.950000000003
Ardabil 4603.410000000001
Ardahan 35.664
Arequipa 692.6640000000001
Arges 118.38000000000001
Arica y Parinacota 405.90000000000003
Arizona 35282.00099999999
Arkansas 11678.129999999997
Arkhangel'sk 2800.44
Artemisa 2370.2015199999996
Artibonite 1426.2133600000002
Arusha 1426.5180000000003
Ash Sharqiyah 4285.68
Ashanti 6323.669999999997
Ashgabat 1137.006
Assam 5185.379999999999
Astana 658.0619999999998
Astrakhan' 5846.58
Asturias 5352.06
Asunción 503.74
Aswan 3397.439999999999
Asyut 337.49999999999994
Atacama 881.96
Atakora 572.67
Atlantique 70.89
Atlántico 7579.88496
Atlántida 8491.609080000002
Atsimo-Andrefana 77.52
Atsinanana 97.68
Attica 3129.582
Auckland 43721.568
Australian Capital Territory 33162.81
Auvergne-Rhône-Alpes 83951.59649999999
Aveiro 341.475
Ayacucho 608.304
Aydin 1165.596
Azuay 880.5799999999999
Babil 2009.43
Bacau 2949.33
Baden-Württemberg 46979.530499999986
Baghdad 28867.619999999988
Bahia 17598.15556000001
Baja California 27013.103960000004
Baja California Sur 593.3599999999999
Baki 5631.5099999999975
Balearic Islands 6530.714999999999
Bali 6841.553100000003
Balikesir 2065.5
Balti 627.6
Baluchistan 1901.19
Bamako 6740.13
Banaadir 3501.7799999999997
Bandundu 1610.85
Banghazi 3825.780000000001
Bangkok 76049.80230000005
Bangui 2377.5600000000004
Bani Suwayf 1678.92
Banská Bystrica 62.61
Barahona 4118.37
Bas-Congo 337.50000000000006
Basel-Stadt 3780.6600000000003
Bashkortostan 9729.210000000001
Basilicata 177.786
Basque Country 24218.502000000008
Batman 1190.2920000000001
Batna 1972.77
Bauchi 631.2959999999999
Bavaria 58870.80749999996
Bay of Plenty 11101.65
Bechar 150.06
Beijing 32304.494999999995
Beirut 1596.8100000000002
Bejaia 631.98
Bekes 1428.48
Belgorod 1166.04
Bengkulu 534.6765
Benguela 6082.65
Benguet 5740.521000000001
Beni 700.8260000000001
Benue 1790.163
Berlin 61917.89850000006
Bern 1135.41
Bie 885.75
Bihar 28615.140000000003
Bihor 1031.55
Bingol 938.376
Biobio 2662.7533999999996
Bishkek 4189.199999999998
Bissau 2065.44
Bistrita-Nasaud 246.48
Bitola 10.98
Boeny 2043.9000000000003
Bogota 21110.549759999998
Bolivar 1429.8360000000002
Bolu 491.24399999999997
Bolívar 2820.94792
Borgou 363.71999999999997
Borno 777.4110000000001
Botosani 2259.12
Bourgogne-Franche-Comté 8958.534
Boyacá 1350.626
Braga 460.98
Braila 428.60999999999996
Brandenburg 10539.822
Brasov 2768.94
Bremen 19594.790999999994
Brest 4400.789999999999
British Columbia 9544.38
Brittany 27632.40600000001
Brussels 1049.7299999999998
Bryansk 2367.0300000000007
Budapest 7469.67
Buenos Aires 28576.474439999984
Bujumbura-Mairie 267.72
Bukidnon 2340.3495000000003
Bulacan 5365.0830000000005
Bulawayo 2080.233
Bur Sa'id 512.7299999999999
Burgas 709.05
Bursa 3384.2039999999993
Busan 2435.739
Bushehr 767.82
Buskerud 911.46
Buzau 2469.87
Cabo Delgado 88.65
Cajamarca 174.708
Calabria 1092.72
Caldas 2243.7351599999997
California 457687.6315000017
Callao 162.58800000000002
Camagüey 16106.30268
Campania 25532.871000000006
Campeche 3959.298399999999
Canakkale 330.43199999999996
Canelones 574.56
Cantabria 3372.7409999999995
Canterbury 17807.009999999995
Caquetá 640.4626800000001
Carabobo 3750.336120000001
Caras-Severin 29.04
Carinthia 11106.330000000002
Casanare 23.28
Castile and León 25884.22499999999
Castile-La Mancha 8768.610000000002
Catalonia 49167.857999999986
Catamarca 46.800000000000004
Cavite 3294.438
Cayo District 75.12
Ceará 10106.846839999998
Central 6335.767520000001
Central Equatoria 1045.6200000000001
Central Jutland 33.678
Central Serbia 731.91
Centrale 280.5
Centre 15704.849999999999
Centre-Val de Loire 10771.048500000004
Cesar 679.77464
Ceuta 2589.0660000000003
Chaco 3754.9384
Chaguanas 1965.60904
Chandigarh 491.94
Chaouia-Ouardigha 1072.65
Chelyabinsk 17884.980000000007
Cherkasy 1008.9899999999999
Chernihiv 2794.9200000000005
Chhattisgarh 22798.02
Chiapas 5197.27952
Chiba 5421.570000000001
Chihuahua 33287.52783999999
Chimaltenango 5323.8881999999985
Chinandega 11880.574399999998
Chiriquí 7074.958880000004
Chisinau 4512.329999999999
Chittagong 12144.09
Chocó 1186.52592
Choluteca 5511.099119999998
Chongqing 10166.159999999998
Chubut 1285.8300000000002
Chukha 164.07
Chuquisaca 1472.1399999999999
Cidade De Maputo 8220.179999999998
Ciego de Ávila 6385.378720000001
Cienfuegos 7425.2128
Cluj 1272.03
Coahuila 23253.00219999999
Cochabamba 1184.6799999999998
Coimbra 1896.03
Cojedes 114.06
Colima 6179.2887599999995
Colorado 32108.118000000002
Colón 2974.7880000000005
Connecticut 13384.356999999996
Constanta 1840.02
Constantine 1573.65
Copperbelt 11613.929999999998
Cork 4993.709999999996
Corrientes 945.7488799999998
Corsica 1276.197
Cortés 26200.35391999999
Corum 487.29600000000005
Cross River 1118.349
Cundinamarca 3771.56
Cuscatlán 1433.4800000000002
Córdoba 3234.5311999999994
Daegu 1772.754
Daejeon 3257.9399999999987
Dagestan 9522.090000000002
Dakar 22254.690000000006
Dar Es Salaam 11842.746000000001
Dayr Az Zawr 1573.2960000000003
Delaware 27451.068999999996
Delhi 31026.03
Delta 1183.761
Denizli 1104.2759999999996
Dhaka 48404.64000000001
Dhi Qar 530.9099999999999
Diana 587.88
Diffa 112.44
Dire Dawa 850.62
District of Columbia 2865.0199999999995
Distrito Capital 5650.019800000002
Distrito Federal 128394.61188000011
Diyala 143.07
Diyarbakir 789.0840000000001
Djelfa 1518.7800000000002
Djibouti 2392.95
Dnipropetrovs'k 13899.179999999998
Dolj 190.41
Donetsk 8374.38
Donga 906.0
Doukkala-Abda 2271.7499999999995
Drenthe 1838.55
Duarte 5593.562680000001
Dublin 11407.149000000003
Durango 13666.718159999995
Durrës 612.0899999999999
Dà Nang 3814.4769000000006
Düzce 65.196
East Flanders 12399.450000000006
Eastern 2111.58
Eastern Cape 11231.850000000004
Ebonyi 34.326
Edirne 18.528
Edo 2019.1139999999996
Elazig 522.852
Elbasan 1619.1
Emilia-Romagna 26286.492
England 485170.9709999993
Entre Ríos 376.54240000000004
Enugu 1907.343
Equateur 2238.9600000000005
Erzurum 342.576
Escuintla 8177.5711200000005
Esfahan 5072.370000000001
Eskisehir 934.716
Espaillat 1039.1230799999998
Espírito Santo 4249.780000000001
Est 1344.96
Estelí 8455.075320000004
Estuaire 1751.7299999999998
Extremadura 228.528
Extreme-Nord 126.36000000000001
F.C.T. 2921.4090000000006
Fars 12002.160000000002
Federal District 12672.638679999998
Federation of Bosnia and Herzegovina 2599.2599999999993
Finland Proper 2475.54
Flemish Brabant 1641.2099999999998
Florida 89473.70799999994
Francisco Morazán 48048.903919999946
Französisch-Guayana 224.06
Free State 420.93
Friesland 491.46900000000005
Friuli-Venezia Giulia 1055.43
Fujian 20524.530000000002
Fukui 620.64
Fukuoka 1463.6100000000001
Fès-Boulemane 7030.799999999999
Galati 3376.44
Galicia 15173.804999999998
Galway 238.65
Gangwon 22.41
Gansu 14270.285999999998
Gauteng 50986.86
Gaziantep 3514.163999999999
Gelderland 4768.845000000001
Geneva 1865.43
Georgia 49095.84000000001
Gezira 2422.1099999999997
Gharb-Chrarda-Béni Hssen 494.43000000000006
Gilan 5794.3499999999985
Gisborne 1433.7599999999998
Giurgiu 253.65
Goiás 8450.613159999999
Golestan 1003.44
Gombe 48.105000000000004
Gorj 569.28
Grad Zagreb 3084.8699999999994
Granada 2366.8171200000006
Grand Casablanca 30697.979999999985
Grand Gedeh 49.41
Granma 17002.537319999996
Greater Accra 15556.650000000001
Greater Poland 4222.83
Groningen 6405.87
Guadeloupe 1461.6399999999999
Guanajuato 36886.414279999975
Guangdong 96087.95999999998
Guangxi 10540.110000000002
Guantánamo 10942.863559999998
Guatemala 103647.33867999991
Guayas 3742.08
Guelma 3664.71
Guelmim-Es Semara 38.4
Guerrero 4759.998640000001
Guizhou 5491.139999999999
Gujarat 29290.350000000006
Gulu 364.8060000000001
Gunma 3566.6850000000004
Guárico 920.1454
Gyeonggi 7445.192999999998
Gyeongsangnam 2481.3030000000003
Gyor 4827.54
Gôh-Djiboua 1340.76
Haifa 3028.290000000001
Hainan 4078.713
Hainaut 3662.73
Hajdu-Bihar 528.36
Halland 835.5
Hamadan 7181.699999999999
Hamburg 40430.22300000001
Harare 1565.1899999999998
Harjumaa 4095.39
Haryana 24657.42
Hatay 1025.868
Haute-Matsiatra 206.07
Hawke's Bay 9465.119999999997
Hebei 13674.426000000001
Hedmark 269.31
Heilongjiang 42024.812999999995
Henan 21232.731
Hesse 31317.216000000008
Hidalgo 2177.78
Hims 3636.294
Hirat 1695.2400000000002
Hiroshima 2662.2599999999998
Ho Chí Minh City 42670.04879999995
Hokkaido 557.22
Holguín 13223.386760000007
Homyel' 2216.01
Hong Kong 6147.000000000002
Hordaland 6852.3
Hormozgan 1050.93
Hovedstaden 5221.587000000002
Hradec Kralove 1342.4699999999998
Hrodna 5790.299999999999
Huambo 3052.6500000000005
Hubei 26638.350000000002
Huehuetenango 6596.579080000002
Huila 1287.4104
Hunan 20400.599999999995
Hunedoara 218.34
Hyogo 3593.9100000000008
Iasi 1820.79
Ibaraki 1594.7250000000001
Ibb 354.564
Ica 1007.0912
Idaho 4382.486
Igdir 974.388
Ilam 91.35
Ile-de-France 317822.5440000001
Illinois 80166.10100000002
Imereti 2162.3100000000004
Imo 616.2930000000001
Indiana 53555.360000000015
Inhambane 23.25
Inner Mongolia 13108.109999999999
Iowa 4579.759999999999
Irbid 158.16
Iringa 462.348
Irkutsk 4846.139999999999
Ishikawa 3081.4199999999996
Isla de la Juventud 2602.7
Isparta 103.896
Istanbul 31037.459999999977
Ivano-Frankivsk 662.3699999999999
Ivanovo 1787.13
Izmir 15161.91599999999
Jakarta 94321.32420000002
Jalisco 43216.32555999998
Jambi 3500.643899999999
Jammu and Kashmir 7969.079999999999
Jawa Barat 91975.74420000009
Jawa Tengah 25363.265400000008
Jawa Timur 50361.27539999996
Jeju 621.48
Jerusalem 3576.8399999999997
Jharkhand 12131.580000000002
Jiangsu 55333.823999999986
Jiangxi 3358.9799999999996
Jilin 19035.93
Jinja 101.583
Jizan 5385.509999999998
Jizzakh 502.61999999999995
Jubbada Hoose 353.52
Jujuy 315.82800000000003
Junín 863.5200000000001
Kabardino-Balkariya 74.22
Kabarole 3.573
Kabul 16951.110000000004
Kaduna 5810.561999999999
Kafr Ash Shaykh 129.33
Kagawa 2431.932
Kahramanmaras 832.188
Kalimantan Barat 1398.6231000000002
Kalimantan Selatan 536.4834
Kalimantan Timur 16008.034799999998
Kaliningrad 3254.8799999999987
Kaluga 2632.4700000000007
Kampala 1151.9730000000004
Kanagawa 6252.989999999999
Kandahar 1867.02
Kankan 1169.55
Kano 7951.8690000000015
Kansas 2914.31
Kara 33.96
Karaman 51.120000000000005
Karbala' 3323.55
Karnataka 31802.399999999987
Kars 331.56
Kasai-Occidental 6078.990000000001
Kasai-Oriental 4859.459999999999
Kassala 656.13
Kastamonu 25.776
Katanga 25337.790000000005
Katsina 232.21800000000002
Kaunas 1757.6369999999997
Kayes 791.0999999999999
Kayseri 1752.4319999999998
Kentucky 36591.74999999999
Kerala 20696.969999999994
Kerman 3837.8399999999997
Kermanshah 4985.789999999999
Kharkiv 11568.599999999999
Khartoum 9205.14
Khatlon 242.784
Kherson 1162.14
Khmel'nyts'kyy 2005.9200000000003
Khomas 2899.4700000000003
Khorezm 1124.1
Khulna 11407.02
Khuzestan 7752.449999999998
Khyber Pakhtunkhwa 2010.9299999999996
Khánh Hòa 1233.1206
Kiambu 840.9
Kigali 4752.540000000001
Kigoma 4826.73
Kilimanjaro 496.77
Kilis 118.76399999999998
Kindia 1104.96
Kinshasa 42536.520000000026
Kirovohrad 3070.56
Kirsehir 1145.04
Kisumu 985.05
Kiên Giang 4454.8656
Klaipeda 121.068
Kocaeli 727.4279999999999
Konya 945.2040000000001
Kordestan 3841.0799999999995
Korçë 77.16
Kuala Lumpur 17176.23
Kumanovo 198.66000000000003
Kutahya 2514.912
Kwara 1239.3270000000002
Kwazulu-natal 5270.640000000001
Kymenlaakso 233.79
L'viv 4769.940000000001
La Libertad 6777.44808
La Pampa 229.28399999999996
La Paz 879.6800000000001
La Rioja 355.38
La Romana 7607.076159999999
La Vega 2686.41144
Laghouat 798.69
Lagos 17185.328999999998
Laguna 1399.8179999999998
Lambayeque 31.536
Languedoc-Roussillon-Midi-Pyrénées 53890.48350000003
Lara 1444.116
Las Tunas 8917.537319999998
Lazio 50409.78
Lebap 644.958
Lesser Poland 1354.56
León 17110.512639999997
Liaoning 41385.437999999995
Liberec 134.01
Liguria 6834.552
Lilongwe 366.84
Lima 64.44
Lima (city) 11006.512640000006
Limburg 13167.047999999997
Limpopo 451.74
Lisboa 10659.66
Litoral 150.51
Littoral 2702.3100000000004
Liège 483.24
Ljubljana 1469.94
Lodz 3264.8700000000003
Lombardy 34590.55799999999
Lorestan 9295.41
Loreto 438.71999999999997
Lori 156.75
Los Lagos 3431.56
Los Rios 972.81048
Louisiana 9217.029999999997
Lower Saxony 56148.230999999985
Luanda 14679.6
Lublin 5935.53
Lubusz 554.64
Lucerne 4538.429999999999
Luhans'k 3039.6
Lusaka 12767.220000000003
Luxembourg 703.845
Madhya Pradesh 27069.780000000002
Madrid 64385.172000000006
Magallanes y Antártica Chilena 1388.42
Magdalena 3109.8761600000003
Maharashtra 101322.40500000001
Maine 1270.53
Makkah 24534.86999999998
Malanje 137.25
Malatya 530.5680000000001
Maluku 155.9655
Manabi 725.952
Managua 88968.50643999994
Manawatu-Wanganui 4184.04
Mandoul 1317.03
Manica 431.64
Manicaland 11.853
Maniema 858.81
Manipur 5429.34
Manisa 1146.9359999999995
Manitoba 2017.6200000000001
Manzini 288.03000000000003
Maputo 3709.5900000000006
Mara 316.524
Maradi 1648.5
Maramures 477.21
Maranhão 16874.14796
Marche 1923.6179999999997
Mardin 1653.9
Maritime 3250.439999999999
Markazi 2555.4900000000007
Marlborough 2849.5800000000004
Marrakech-Tensift-El Haouz 7464.93
Marsabit 967.56
Martinique 5968.151039999999
Mary 245.097
Maryland 23705.522999999994
Masaya 4550.604199999999
Maseru 6711.990000000001
Mashonaland West 104.364
Masovia 5780.22
Massachusetts 28634.434
Matabeleland North 3.465
Matagalpa 16354.974439999998
Matanzas 4722.18512
Mato Grosso 3568.3423200000007
Mato Grosso do Sul 3616.6401599999995
Matruh 60.03
Mayabeque 7073.873199999999
Maysan 3579.15
Mazandaran 6091.200000000001
Mbeya 1346.0699999999997
Mecklenburg-Vorpommern 12317.826
Medea 122.88
Mehedinti 417.51
Meknès-Tafilalet 7753.47
Melilla 145.44
Mendoza 2222.382
Mersin 2692.9920000000006
Meta 82.84
Michigan 76269.61400000002
Michoacán 24566.087959999997
Mie 2998.53
Minas Gerais 32651.181840000016
Minnesota 29863.149999999998
Miranda 2250.7193999999995
Misiones 306.41999999999996
Misratah 3914.88
Mississippi 10771.339999999997
Missouri 22205.150000000005
Mombasa 4233.119999999999
Monagas 507.81312
Mono 44.099999999999994
Monseñor Nouel 159.10399999999998
Montagne 743.9399999999999
Montana 5589.351999999998
Montevideo 5604.404
Montserrado 3511.4700000000003
Mopti 289.02000000000004
Moquegua 287.16
Moravian-Silesian 304.38
Morelos 7518.927600000001
Morogoro 159.33
Moscow 632.52
Mostaganem 439.92
Mpumalanga 155.88
Mtwara 251.45999999999998
Muharraq 669.18
Murcia 10665.318000000001
Mures 1851.6299999999999
Muscat 76.65
Mwanza 2529.8880000000004
Mykolayiv 1576.0800000000004
Mérida 60.96
México 34588.40236
Nagano 30.9
Nagasaki 4125.42
Nairobi 7436.700000000002
Nakhon Ratchasima 1002.1527
Nakuru 3109.7999999999997
Namangan 1894.95
Namibe 63.42
Nampula 2312.4900000000002
Namur 5012.339999999999
Nangarhar 1159.95
Nariño 578.26
National Capital 2928.135000000001
National Capital Region 149247.22050000008
Navarra 4608.1860000000015
Nayarit 8047.38968
Neamt 2875.32
Nebraska 7464.929999999999
Negeri Sembilan 6334.68
Negros Occidental 3463.361999999999
Nelson 2859.21
Neuquén 509.076
Nevada 16729.102
Nevsehir 320.73599999999993
New Hampshire 7292.523999999999
New Jersey 35764.312
New Mexico 4783.522
New South Wales 270487.1040000001
New York 310876.27100000036
Newfoundland 102.84
Niamey 4799.31
Niari 2713.23
Niassa 970.2
Nicosia 437.31
Nigde 213.84
Niger 443.493
Ninawa 4915.589999999999
Ningxia 129.84
Nitra 742.5899999999999
Nord 1933.8599999999997
Nord-Ouest 1086.66
Nord-Pas-de-Calais-Picardie 65176.78499999997
Normandy 27705.086999999996
Norte de Santander 5097.102320000001
North Brabant 15250.217999999999
North Carolina 55603.16399999996
North Dakota 919.9099999999999
North Holland 15219.426000000001
North Lebanon 1199.85
North Rhine-Westphalia 216451.85100000005
North-West 2353.1399999999994
Northern 1478.4599999999998
Northern Territory 14463.480000000001
Northland 10456.530000000002
Nouakchott 4020.9299999999994
Nova Scotia 382.32
Novgorod 413.1
Novosibirsk 54.18
Nueva Esparta 269.88
Nuevo León 41066.779999999984
Nusa Tenggara Barat 5010.8181
Nusa Tenggara Timur 4207.7031
Nzérékoré 1223.7599999999998
O'Higgins 4002.86
Oaxaca 607.4799999999999
Odisha 5280.360000000001
Ogun 373.401
Ohio 78258.13600000003
Oita 7526.64
Okayama 145.86
Oklahoma 19683.389999999996
Olomouc 229.56
Ondo 280.75500000000005
Ontario 35450.40000000001
Opole 1670.4299999999998
Oran 7337.460000000001
Ordu 125.292
Oregon 17431.149999999998
Orientale 1972.1100000000004
Oruro 1694.6
Osaka 7578.585
Osh 917.1000000000001
Osjecko-Baranjska 25.29
Oslo 7801.86
Osmaniye 486.15600000000006
Osun 247.221
Otago 2678.885999999999
Oued el Dahab 666.36
Ouest 12796.915639999996
Ouémé 2129.25
Overijssel 4295.621999999999
Oyo 2847.3120000000013
Pahang 5894.31
Pampanga 873.414
Panama 41490.18064
Panevezys 1472.9130000000002
Papua 2756.2833
Paramaribo 23.64
Parana 23218.07276
Paraíba 8933.192799999997
Pará 8723.859200000003
Pavlodar 1010.799
Pays de la Loire 34357.25399999999
Paysandú 3473.14
Pazardzhik 193.77
Pennsylvania 116511.91399999996
Perak 9282.300000000001
Peravia 705.456
Pernambuco 18232.550119999996
Pernik 14.82
Phnom Penh 17476.019999999997
Piauí 1359.59076
Pichincha 7021.557879999999
Piedmont 24949.39500000001
Pinar del Río 13066.577280000001
Piura 353.28
Plateau 780.6599999999999
Plateaux 581.52
Pleven 56.46
Plovdiv 898.65
Plzen 1332.99
Podgorica 4004.37
Podlaskie 1042.9499999999998
Poltava 8155.349999999999
Pomerania 6560.7300000000005
Porto 1564.68
Portuguesa 914.112
Potosí 1557.8799999999997
Prague 5940.5999999999985
Prahova 2067.84
Primorsko-Goranska 380.76
Provence-Alpes-Côte d'Azur 114372.30149999996
Provincia de Buenos Aires 3659.4388399999993
Puducherry 2936.6699999999996
Puebla 35022.97440000001
Punjab 60069.990000000034
Puno 342.90000000000003
Pwani 256.95
Qaraghandy 938.8710000000001
Qashqadaryo 874.2900000000001
Qazvin 1129.17
Qina 466.53
Qinghai 5691.45
Qom 6132.63
Qostanay 652.1669999999999
Quebec 10924.170000000004
Queensland 238312.73400000017
Querétaro 12189.667600000002
Quezaltenango 7857.089680000002
Quindío 2292.44
Quintana Roo 9370.239320000004
Ra's Al Khaymah 534.132
Rabat-Salé-Zemmour-Zaer 19399.98
Rajasthan 30992.790000000008
Rajshahi 4986.9
Razavi Khorasan 16469.339999999997
Red Sea 3271.08
Rhineland-Palatinate 25552.256999999994
Rhode Island 22627.95599999999
Riau 5980.6521
Rio Grande do Norte 6966.858719999997
Rio Grande do Sul 20848.053799999998
Rio de Janeiro 17334.16204000001
Risaralda 1901.1599999999999
Rivera 60.44
Rivers 3824.468999999999
Rivne 428.42999999999995
Rizal 11695.958999999999
Rize 18.528
Rogaland 2904.8999999999996

## Different Categories
* (base) cat Sample-Superstore.csv | head -n 36 | tail -n 1

`35,CA-2017-107727,10/19/2017,10/23/2017,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468`
* (base) cat Global-Superstore-Orders.csv | grep "United States" | sort -n | head -n 35 | tail -n 1

`31331,CA-2017-MA17560140-43028,10/20/2017,10/24/2017,Second Class,MA-175601402,Matt Abelman,Home Office,77095,Houston,Texas,United States,Central US,USCA,OFF-FA-6129,Staples,Fasteners,Office Supplies,"29,472",3,"0,2","9,9468","3,5",Medium`

# TODO 
## Different dates for orders in Sample- and Global!!! (1 day apart)
```
(base) stefan@Zeph:/mnt/c/Users/Coding/Documents/Python Scripts/M1P5S1-SQL/Data$ cat Global-Superstore-Orders.csv | grep "United States" | grep "OFF-ST-6289" | grep 2014 | grep Mari
41009,CA-2014-MD17350140-41947,11/4/2014,11/9/2014,Standard Class,MD-173501406,Maribeth Dona,Consumer,19143,Philadelphia,Pennsylvania,United States,Eastern US,USCA,OFF-ST-6289,Tennsco Double-Tier Lockers,Storage,Office Supplies,"1080,096",6,"0,2","-94,5084","53,84",Medium
(base) stefan@Zeph:/mnt/c/Users/Coding/Documents/Python Scripts/M1P5S1-SQL/Data$ cat Sample-Superstore.csv | grep ",Tennsco Double-Tier" | grep 2014
9713,CA-2014-114251,11/5/2014,11/10/2014,Standard Class,MD-17350,Maribeth Dona,Consumer,United States,Philadelphia,Pennsylvania,19143,East,OFF-ST-10003716,Office Supplies,Storage,Tennsco Double-Tier Lockers,1080.096,6,0.2,-94.5084
```

In the Global DataSet are no orders on February 29th in 2016 (which was leap year)

In Sample DataSet there is no 31.12.2017?

I checked the original Sample Dataset from Tableau (https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls) and there is also the 31.12.2017 missing and the first entry is on the 03.01.2014 - meanwhile in the Global data set the first day is the 04.01.2014 and there is also a 31.12.2017

In [7]:


serial_number = 42250
date = datetime.datetime(1899, 12, 30) + datetime.timedelta(days=serial_number)

formatted_date = date.strftime('%d/%m/%Y')

print(formatted_date)  # Output: 18/06/2017

03/09/2015

### Dates with no sold products

In [8]:
delta = 41640
for date, data in df_g.groupby("Order Date"):
    #print(data["Order ID"].first.split('-')[-1])
    id = [data["Order ID"]][0]
    last_element = int([id.split('-')[-1] for id in data["Order ID"]][0])
    new_date = datetime.datetime(1899, 12, 30) + datetime.timedelta(days=int(last_element))
    #print(date)


    if  last_element != delta:
        print(last_element, delta, date)
        delta = last_element

    if str(date) != str(new_date):
        print(id)
        print(last_element, date, "!=", date.strftime('%Y-%m-%m 00:00:00'))     
        break
    
    delta = delta + 1

41691 41690 2014-02-21 00:00:00
41711 41710 2014-03-13 00:00:00
41718 41717 2014-03-20 00:00:00
41739 41738 2014-04-10 00:00:00
41746 41745 2014-04-17 00:00:00
41760 41759 2014-05-01 00:00:00
41788 41787 2014-05-29 00:00:00
41823 41822 2014-07-03 00:00:00
41830 41829 2014-07-10 00:00:00
41865 41864 2014-08-14 00:00:00
41879 41878 2014-08-28 00:00:00
41886 41885 2014-09-04 00:00:00
41935 41934 2014-10-23 00:00:00
41991 41990 2014-12-18 00:00:00
42005 42004 2015-01-01 00:00:00
42019 42018 2015-01-15 00:00:00
42061 42060 2015-02-26 00:00:00
42068 42067 2015-03-05 00:00:00
42082 42081 2015-03-19 00:00:00
42089 42088 2015-03-26 00:00:00
42103 42102 2015-04-09 00:00:00
42208 42207 2015-07-23 00:00:00
42418 42417 2016-02-18 00:00:00
42425 42424 2016-02-25 00:00:00
42430 42429 2016-03-01 00:00:00
42482 42481 2016-04-22 00:00:00
42489 42488 2016-04-29 00:00:00
42678 42677 2016-11-04 00:00:00
42769 42768 2017-02-03 00:00:00
42937 42936 2017-07-21 00:00:00
42958 42957 2017-08-11 00:00:00
43035 43034 2017-10-27 00:00:00

## Black Friday

Freitag, 28. November
Black Friday 2014

Freitag, 27. November
Black Friday 2015

Freitag, 25. November
Black Friday 2016

Freitag, 24. November
Black Friday 2017

In [9]:
# import pandas as pd
# import matplotlib.pyplot as plt

# for year in range(2014,2018):
#     print(year)
#     grouped1_df = df[(df["Order Date"] >= str(year) + "-11-23") & (df["Order Date"] <= str(year) + "-11-29")].groupby('Order Date')["Quantity"].sum()
#     grouped2_df = df_g[(df_g["Country"] == "United States") & (df_g["Order Date"] >= str(year) + "-11-23") & (df_g["Order Date"] <= str(year) + "-11-29")].groupby('Order Date')["Quantity"].sum()

#     display(grouped1_df)
#     display(grouped2_df)

#     # Plot the graph
#     plt.figure(figsize=(10, 6))  # Set the size of the plot (optional)
#     grouped1_df.plot(kind='line')
#     grouped2_df.plot(kind='line')
#     plt.title('Order Count per Date')
#     plt.xlabel('Order Date')
#     plt.ylabel('Count')
#     plt.show()

In [10]:
# import pandas as pd
# import matplotlib.pyplot as plt

# for year in range(2014,2018):
#     print(year)
#     grouped1_df = df[(df["Order Date"] >= str(year) + "-01-01") & (df["Order Date"] <= str(year) + "-12-31")].groupby('Order Date')["Quantity"].sum()
#     grouped2_df = df_g[(df_g["Country"] == "United States") & (df_g["Order Date"] >= str(year) + "-01-01") & (df_g["Order Date"] <= str(year) + "-12-31")].groupby('Order Date')["Quantity"].sum()

#     #display(grouped1_df)
#     #display(grouped2_df)

#     # Plot the graph
#     plt.figure(figsize=(10, 6))  # Set the size of the plot (optional)
#     grouped1_df.plot(kind='line', label="Sample")
#     grouped2_df.plot(kind='line', label="Global")
#     plt.legend(loc="upper left")
#     plt.title('Order Count per Date')
#     plt.xlabel('Order Date')
#     plt.ylabel('Count')
#     plt.show()

In [11]:
import pandas as pd
import matplotlib.pyplot as plt


grouped1_df = df[(df["Order Date"] >= "2014-02-23") & (df["Order Date"] <= "2014-03-05")].groupby('Order Date')["Quantity"].sum()
grouped2_df = df_g[(df_g["Country"] == "United States") & (df_g["Order Date"] >= "2014-02-24") & (df_g["Order Date"] <= "2014-03-05")].groupby('Order Date')["Quantity"].sum()

print("Sample", grouped1_df)
print("Global", grouped2_df)

# Plot the graph
# plt.figure(figsize=(10, 6))  # Set the size of the plot (optional)
# grouped1_df.plot(kind='line')
# grouped2_df.plot(kind='line')
# plt.title('Dateshift 2014')
# plt.xlabel('Order Date')
# plt.ylabel('Count')
# plt.show()

Sample Order Date
2014-02-23     6
2014-02-24     7
2014-02-27     4
2014-03-01    40
2014-03-02    11
2014-03-03    35
2014-03-04     8
2014-03-05    16
Name: Quantity, dtype: int64
Global Order Date
2014-02-24     6
2014-02-25     7
2014-02-28    44
2014-03-01    11
2014-03-02    35
2014-03-03     8
2014-03-04    16
Name: Quantity, dtype: int64

In [12]:
import pandas as pd
import matplotlib.pyplot as plt


grouped1_df = df[(df["Order Date"] >= "2015-02-23") & (df["Order Date"] <= "2015-03-05")].groupby('Order Date')["Quantity"].sum()
grouped2_df = df_g[(df_g["Country"] == "United States") & (df_g["Order Date"] >= "2015-02-22") & (df_g["Order Date"] <= "2015-03-05")].groupby('Order Date')["Quantity"].sum()

print("Sample", grouped1_df)
print("Global", grouped2_df)

# Plot the graph
# plt.figure(figsize=(10, 6))  # Set the size of the plot (optional)
# grouped1_df.plot(kind='line')
# grouped2_df.plot(kind='line')
# plt.title('Dateshift 2015')
# plt.xlabel('Order Date')
# plt.ylabel('Count')
# plt.show()

Sample Order Date
2015-02-23     8
2015-02-25     5
2015-02-27    27
2015-02-28    10
2015-03-01    23
2015-03-02    10
2015-03-05    57
Name: Quantity, dtype: int64
Global Order Date
2015-02-22     8
2015-02-24     5
2015-02-26    27
2015-02-27    10
2015-02-28     9
2015-03-01    14
2015-03-02    10
2015-03-05    57
Name: Quantity, dtype: int64

In [13]:
import pandas as pd
import matplotlib.pyplot as plt


grouped1_df = df[(df["Order Date"] >= "2016-02-25") & (df["Order Date"] <= "2016-03-05")].groupby('Order Date')["Quantity"].sum()
grouped2_df = df_g[(df_g["Country"] == "United States") & (df_g["Order Date"] >= "2016-02-25") & (df_g["Order Date"] <= "2016-03-06")].groupby('Order Date')["Quantity"].sum()

print("Sample", grouped1_df)
print("Global", grouped2_df)

# Plot the graph
# plt.figure(figsize=(10, 6))  # Set the size of the plot (optional)
# grouped1_df.plot(kind='line')
# grouped2_df.plot(kind='line')
# plt.title('Dateshift 2016')
# plt.xlabel('Order Date')
# plt.ylabel('Count')
# plt.show()

Sample Order Date
2016-02-25     5
2016-02-27     8
2016-02-28     6
2016-02-29     7
2016-03-01    20
2016-03-03    59
2016-03-04    10
2016-03-05     4
Name: Quantity, dtype: int64
Global Order Date
2016-02-25     5
2016-02-27     8
2016-02-28     6
2016-03-01     7
2016-03-02    20
2016-03-04    59
2016-03-05    10
2016-03-06     4
Name: Quantity, dtype: int64

In [14]:
# 5769, CA-2015-154900,          2/25/2015,3/1/2015,Standard Class,SS-20875,    Sung Shariari,Consumer,United States,Leominster,Massachusetts,1453,East,OFF-LA-10001641,Office Supplies,Labels,Avery 518,3.15,1,0,1.512
# 37066,CA-2015-SS20875140-42059,2/24/2015,3/1/2015,Standard Class,SS-208751406,Sung Shariari,Consumer,1453,Leominster,Massachusetts,United States,Eastern US,USCA,OFF-PA-3010,"Adams Telephone Message Book W/Dividers/Space For Phone Numbers, 5 1/4""X8 1/2"", 200/Messages",Paper,Office Supplies,"22,72",4,0,"10,224","1,69",Medium

In [15]:
df[df["Order Date"] == "2015-02-25"]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
5768,5769,CA-2015-154900,2015-02-25,2015-03-01,Standard Class,SS-20875,Sung Shariari,Consumer,United States,Leominster,Massachusetts,1453,East,OFF-LA-10001641,Office Supplies,Labels,Avery 518,3.15,1,0.0,1.512
5769,5770,CA-2015-154900,2015-02-25,2015-03-01,Standard Class,SS-20875,Sung Shariari,Consumer,United States,Leominster,Massachusetts,1453,East,OFF-PA-10002377,Office Supplies,Paper,Adams Telephone Message Book W/Dividers/Space ...,22.72,4,0.0,10.224

In [16]:
df_g[(df_g["Order Date"] == "2015-02-27") & (df_g["Country"] == "United States") ]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
48507,31526,US-2015-VD21670140-42062,2015-02-27,2015-03-04,Standard Class,VD-216701408,Valerie Dominguez,Consumer,38401.0,Columbia,Tennessee,United States,Southern US,USCA,FUR-CH-4421,"Global Push Button Manager's Chair, Indigo",Chairs,Furniture,"389,696",8,"0,2","43,8408","28,62",Medium
48508,31525,US-2015-VD21670140-42062,2015-02-27,2015-03-04,Standard Class,VD-216701408,Valerie Dominguez,Consumer,38401.0,Columbia,Tennessee,United States,Southern US,USCA,FUR-CH-4419,Global Low Back Tilter Chair,Chairs,Furniture,"161,568",2,"0,2","-28,2744","4,89",Medium

In [17]:
# len(name.split()) > 2
df_g[df_g['Customer Name'].str.split().str.len() > 2]["Customer Name"].drop_duplicates()

675     Sample Company A
1723        Sue Ann Reed
2318       Paul Van Hugh
3482     Darrin Van Huff
3743       Mark Van Huff
Name: Customer Name, dtype: object

## What Happend with Corey-Lock?
Since the Customer Corey-Lock doesn't have a Surname or Space (no clue how this is even possible) the Customer ID is containing a "Co" (for "Corey") instead of the initials (CL). As a result there a Customer ID for every combination of Country/Region.

In [18]:
#df_g['Customer Name'].drop_duplicates().sort_values()
print(df_g[~df_g['Customer Name'].str.contains(" ")][['Customer ID', 'Customer Name', "Country", "Region"]].drop_duplicates().sort_values(["Customer Name", "Country", "Region"]))
# for id, data in df_g[df_g['Customer Name'] == "Corey-Lock"].groupby("Customer ID"):
#     display(data[["Customer ID","Country", "Region"]].drop_duplicates())

        Customer ID Customer Name          Country             Region
2027      Co-126407    Corey-Lock        Australia            Oceania
5500     Co-1264018    Corey-Lock           Brazil      South America
7679     Co-1264027    Corey-Lock            China       Eastern Asia
11562     Co-264038    Corey-Lock            Egypt       North Africa
12509    Co-1264039    Corey-Lock      El Salvador    Central America
12833    Co-1264045    Corey-Lock           France     Western Europe
19544    Co-1264058    Corey-Lock            India      Southern Asia
24522    Co-1264066    Corey-Lock            Japan       Eastern Asia
26494    Co-1264082    Corey-Lock           Mexico    Central America
28489     Co-264086    Corey-Lock          Morocco       North Africa
28673    Co-1264088    Corey-Lock  Myanmar (Burma)  Southeastern Asia
29940    Co-1264093    Corey-Lock        Nicaragua    Central America
30983     Co-264095    Corey-Lock          Nigeria     Western Africa
33848    Co-2640108    Corey-Lock           Russia     Eastern Europe
37668    Co-2640134    Corey-Lock           Turkey       Western Asia
38978   Co-12640139    Corey-Lock   United Kingdom    Northern Europe
44333  Co-126401402    Corey-Lock    United States         Central US
47932  Co-126401406    Corey-Lock    United States         Eastern US
48446  Co-126401408    Corey-Lock    United States        Southern US
50073  Co-126401404    Corey-Lock    United States         Western US
50736   Co-12640143    Corey-Lock        Venezuela      South America

In [19]:
# CHECK IF Joe Lock 
display(df_g[~df_g['Customer Name'].str.contains(r'[a-z]$', regex=True)][["Customer ID", "Customer Name", "Country", "Region"]].drop_duplicates().sort_values(["Customer Name", "Country", "Region"]))
# for id, data in df_g[df_g['Customer Name'].str.contains("Joy Bell-")].groupby("Customer ID"):
#     print(data[["Customer ID", "Customer Name", "Country", "Region"]].drop_duplicates())
#     print("From:", min(data["Order Date"]), " / To:", max(data["Order Date"]))

,Customer ID,Customer Name,Country,Region
617,JF-152955,Jason Fortune-,Argentina,South America
2997,JF-152957,Jason Fortune-,Australia,Oceania
5910,JF-1529518,Jason Fortune-,Brazil,South America
6432,JF-529523,Jason Fortune-,Canada,Canada
9231,JF-529530,Jason Fortune-,Croatia,Southern Europe
9450,JF-1529531,Jason Fortune-,Cuba,Caribbean
10559,JF-1529536,Jason Fortune-,Dominican Republic,Caribbean
12330,JF-1529539,Jason Fortune-,El Salvador,Central America
13727,JF-1529545,Jason Fortune-,France,Western Europe
15516,JF-1529548,Jason Fortune-,Germany,Western Europe
22201,JF-529560,Jason Fortune-,Iran,Southern Asia
23743,JF-1529564,Jason Fortune-,Italy,Southern Europe
24919,JF-529570,Jason Fortune-,Kyrgyzstan,Central Asia
30674,JF-529595,Jason Fortune-,Nigeria,Western Africa
32048,JF-1529598,Jason Fortune-,Panama,Central America
34450,JF-15295113,Jason Fortune-,Singapore,Southeastern Asia
35797,JF-15295120,Jason Fortune-,Spain,Southern Europe
36654,JF-5295129,Jason Fortune-,Tanzania,Eastern Africa
36900,JF-15295130,Jason Fortune-,Thailand,Southeastern Asia
40340,JF-15295139,Jason Fortune-,United Kingdom,Northern Europe
45204,JF-152951402,Jason Fortune-,United States,Central US
41501,JF-152951404,Jason Fortune-,United States,Western US
670,JB-160005,Joy Bell-,Argentina,South America
3394,JB-160007,Joy Bell-,Australia,Oceania
4691,JB-1600018,Joy Bell-,Brazil,South America
7984,JB-1600027,Joy Bell-,China,Eastern Asia
8845,JB-1600028,Joy Bell-,Colombia,South America
9330,JB-1600031,Joy Bell-,Cuba,Caribbean
10397,JB-600033,Joy Bell-,Democratic Republic of the Congo,Central Africa
13194,JB-1600045,Joy Bell-,France,Western Europe
16597,JB-1600048,Joy Bell-,Germany,Western Europe
17761,JB-1600051,Joy Bell-,Guatemala,Central America
21248,JB-1600059,Joy Bell-,Indonesia,Southeastern Asia
23514,JB-1600064,Joy Bell-,Italy,Southern Europe
25402,JB-1600082,Joy Bell-,Mexico,Central America
29982,JB-1600093,Joy Bell-,Nicaragua,Central America
30946,JB-600095,Joy Bell-,Nigeria,Western Africa
32506,JB-16000102,Joy Bell-,Philippines,Southeastern Asia
34261,JB-6000110,Joy Bell-,Saudi Arabia,Western Asia
34993,JB-6000117,Joy Bell-,South Africa,Southern Africa
35306,JB-16000120,Joy Bell-,Spain,Southern Europe
38395,JB-6000134,Joy Bell-,Turkey,Western Asia
38532,JB-6000137,Joy Bell-,Ukraine,Eastern Europe
39119,JB-16000139,Joy Bell-,United Kingdom,Northern Europe
45191,JB-160001402,Joy Bell-,United States,Central US
44827,JB-160001406,Joy Bell-,United States,Eastern US
41541,JB-160001404,Joy Bell-,United States,Western US
675,SC-200505,Sample Company A,Argentina,South America
802,SC-200507,Sample Company A,Australia,Oceania
4768,SC-2005018,Sample Company A,Brazil,South America
8111,SC-2005027,Sample Company A,China,Eastern Asia
8855,SC-2005028,Sample Company A,Colombia,South America
20633,SC-2005058,Sample Company A,India,Southern Asia
22314,SC-1005060,Sample Company A,Iran,Southern Asia
22976,SC-1005061,Sample Company A,Iraq,Western Asia
24558,SC-2005066,Sample Company A,Japan,Eastern Asia
25003,SC-1005074,Sample Company A,Libya,North Africa
27985,SC-2005082,Sample Company A,Mexico,Central America
28564,SC-1005087,Sample Company A,Mozambique,Eastern Africa
28934,SC-2005091,Sample Company A,Netherlands,Western Europe
31501,SC-2005097,Sample Company A,Pakistan,Southern Asia
32367,SC-20050102,Sample Company A,Philippines,Southeastern Asia
33696,SC-10050108,Sample Company A,Russia,Eastern Europe
35384,SC-20050120,Sample Company A,Spain,Southern Europe
36670,SC-10050129,Sample Company A,Tanzania,Eastern Africa
37867,SC-10050134,Sample Company A,Turkey,Western Asia
39821,SC-20050139,Sample Company A,United Kingdom,Northern Europe
45159,SC-200501402,Sample Company A,United States,Central US
43149,SC-200501406,Sample Company A,United States,Eastern US
43340,SC-200501408,Sample Company A,United States,Southern US
40965,SC-200501404,Sample Company A,United States,Western US

In [20]:
# The last three digits of the Customer ID seems to be a ID for the "Country" / "Region"
#df_g[(df_g["Country"] == "Turkey") & (df_g["Region"] == "Western Asia")][["Customer ID", "Country", "Region", "Customer Name"]].drop_duplicates().sort_values(["Customer Name", "Country", "Region"])

In [21]:
df_g[df_g['Customer Name'].str.contains('Sample') | df_g['Customer Name'].str.contains('Test') | df_g['Customer Name'].str.contains('Test')]['Customer Name'].drop_duplicates()

675    Sample Company A
Name: Customer Name, dtype: object

### How is the field Customer ID build?
* `SS-208751406` (Customer Name: `Sung Shariari`)
* `JF-1549082` (Somehow the CountryID for this Costa Rica should be 29 but it is only shown as a 2 at the end)
* `[INITIALS]-[3-5DIGITS][3D Code of Country][1D Code for Region]`

In [22]:
# Let's generate the Initials on our own
# We need to take extra care for Names with more than words or just one word  
df_g['_Initials'] = df_g['Customer Name'].apply(lambda name: str((''.join(word[:1] for word in name.split()) if len(name.split()) > 1 else name)[0:2]))

In [23]:

# Create the DataFrame
data = {
    'Customer ID': ['SC-20050', 'SC-20050', 'CA-12055', 'BD-11605'],
    '_Initials': ['KR', 'KR', 'CA', 'BD']
}

dfX = pd.DataFrame(data)

display(dfX)
# Filter rows where Customer ID doesn't start with _Initials
#filtered_df = dfX[~dfX['Customer ID'].str.startswith(dfX['_Initials'])]
# Filter rows where Customer ID doesn't start with _Initials
filtered_df = dfX[dfX.apply(lambda row: not row['Customer ID'].startswith(row['_Initials']), axis=1)]

# Print the filtered DataFrame
print(filtered_df)

  Customer ID _Initials
0    SC-20050        KR
1    SC-20050        KR
2    CA-12055        CA
3    BD-11605        BD

  Customer ID _Initials
0    SC-20050        KR
1    SC-20050        KR

In [24]:
# Check if Customer ID contains our generated Initials
filtered_df = df_g[df_g.apply(lambda row: not row['Customer ID'].startswith(row['_Initials']), axis=1)]
display(filtered_df)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials
18659,33,US-2016-SC2005055-42514,2016-05-24,2016-05-31,Standard Class,SC-2005055,Kai Rey,Home Office,NaN,Tegucigalpa,Francisco Morazán,Honduras,Central America,LATAM,TEC-CO-5998,"Sharp Fax Machine, Digital",Copiers,Technology,"941,77824",8,"0,402","-601,74176","80,281",Medium,KR
18728,32,US-2016-SC2005055-42514,2016-05-24,2016-05-31,Standard Class,SC-2005055,Kai Rey,Home Office,NaN,Tegucigalpa,Francisco Morazán,Honduras,Central America,LATAM,OFF-AP-3582,"Breville Toaster, Black",Appliances,Office Supplies,"152,28",5,"0,4","-99,02","16,245",Medium,KR
18759,28,US-2016-SC2005055-42514,2016-05-24,2016-05-31,Standard Class,SC-2005055,Kai Rey,Home Office,NaN,Tegucigalpa,Francisco Morazán,Honduras,Central America,LATAM,OFF-BI-6383,"Wilson Jones Binding Machine, Durable",Binders,Office Supplies,"141,288",7,"0,4","-73,052","9,465",Medium,KR
18805,30,US-2016-SC2005055-42514,2016-05-24,2016-05-31,Standard Class,SC-2005055,Kai Rey,Home Office,NaN,Tegucigalpa,Francisco Morazán,Honduras,Central America,LATAM,TEC-PH-5262,"Motorola Office Telephone, with Caller ID",Phones,Technology,"114,816",4,"0,4","-49,824","5,923",Medium,KR
18919,34,US-2016-SC2005055-42514,2016-05-24,2016-05-31,Standard Class,SC-2005055,Kai Rey,Home Office,NaN,Tegucigalpa,Francisco Morazán,Honduras,Central America,LATAM,OFF-AR-6118,"Stanley Pencil Sharpener, Easy-Erase",Art,Office Supplies,"10,416",1,"0,4","-0,704","1,931",Medium,KR
18929,31,US-2016-SC2005055-42514,2016-05-24,2016-05-31,Standard Class,SC-2005055,Kai Rey,Home Office,NaN,Tegucigalpa,Francisco Morazán,Honduras,Central America,LATAM,OFF-AR-3488,"Binney & Smith Markers, Blue",Art,Office Supplies,"19,272",2,"0,4","2,872","1,843",Medium,KR
19008,29,US-2016-SC2005055-42514,2016-05-24,2016-05-31,Standard Class,SC-2005055,Kai Rey,Home Office,NaN,Tegucigalpa,Francisco Morazán,Honduras,Central America,LATAM,OFF-FA-6208,"Stockwell Thumb Tacks, Metal",Fasteners,Office Supplies,"21,84",4,"0,4","-3,28","1,091",Medium,KR

In [25]:
# The last Digit of the Customer ID can be Region if there is more than one Region per Country
for country, data in df_g.groupby("Country"):
    if len(data["Region"].drop_duplicates()) > 1:
        print(country, data["Region"].drop_duplicates())
        #break
# => Only the USA seems to have more than 1 Region

#df_g[df_g["Region"] == "Southern US"][["Country", "Customer ID", "Order ID", "Order Date", "City"]].head().drop_duplicates().sort_values(["Country", "Order Date"])

United States 40553    Southern US
40614     Western US
43081     Eastern US
43857     Central US
Name: Region, dtype: object

In [26]:
import warnings

# Let's remove the last digit if the Country is "United States"
df_g['_Region ID'] = df_g.apply(lambda row: int(row['Customer ID'][-1]) if row['Country'] == 'United States' else 0, axis=1)
df_g['Customer ID'] = df_g.apply(lambda row: row['Customer ID'][:-1] if row['Country'] == 'United States' else row['Customer ID'], axis=1)
display(df_g[df_g["Country"] == "United States"].head(2))
display(df_g[df_g["Country"] != "United States"].head(2))
print(df_g[df_g["Country"] == "United States"]["_Region ID"].value_counts())

if df_g[df_g["Country"] == "United States"]["_Region ID"].sum() != 47506:
    warnings.warn("The sum() of all RegionIDs should be 47506")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
40553,33312,CA-2016-AM10705140-42632,2016-09-19,2016-09-24,Standard Class,AM-10705140,Anne McFarland,Consumer,36830.0,Auburn,Alabama,United States,Southern US,USCA,OFF-ST-6289,Tennsco Double-Tier Lockers,Storage,Office Supplies,"900,08",4,0,"117,0104","53,84",Medium,AM,8
40554,33310,CA-2016-AM10705140-42632,2016-09-19,2016-09-24,Standard Class,AM-10705140,Anne McFarland,Consumer,36830.0,Auburn,Alabama,United States,Southern US,USCA,FUR-CH-5431,Office Star - Professional Matrix Back Chair w...,Chairs,Furniture,"350,98",1,0,"84,2352","17,04",Medium,AM,8

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
0,24599,IN-2017-CA120551-42816,2017-03-22,2017-03-29,Standard Class,CA-120551,Cathy Armstrong,Home Office,NaN,Herat,Hirat,Afghanistan,Southern Asia,Asia Pacific,FUR-BO-4861,"Ikea Library with Doors, Mobile",Bookcases,Furniture,"731,82",2,0,"102,42","39,66",Medium,CA,0
1,29465,ID-2015-BD116051-42248,2015-09-01,2015-09-04,Second Class,BD-116051,Brian Dahlen,Consumer,NaN,Herat,Hirat,Afghanistan,Southern Asia,Asia Pacific,OFF-SU-2988,"Acme Scissors, Easy Grip",Supplies,Office Supplies,"243,54",9,0,"104,49","18,72",Medium,BD,0

4    3203
6    2848
2    2323
8    1620
Name: _Region ID, dtype: int64

In [27]:
import re

prev_id = 0
out = ""

matching = {}
manual_matching = {
    "Bahrain": 10,
    "Belize": 82, # Matches Mexico (!)
    "Bhutan": 58, # Matches India (!)
    "Botswana": 117, # Matches South Africa (!)
    "Burkina Faso": 111, # Matches Senegal (1)
    "Burundi": 20,
    "Chad": 25,
    "Costa Rica": 28, # Matches Mexico (!)
    "Cyprus": 64, # Matches Italy (!!!)
    "Equatorial Guinea": 40,
    "Eritrea": 41,
    "French Guiana": 18, # Matches Brazil (!)
    "Greece": 148, # No zf found(!!!!!) / Must be added very late since it has the highest CountryID
    "Guadeloupe": 50,
    "Guyana": 54, # Matches Brazil (!)
    "Kuwait": 110, # Matches Saudi Arabia (!)
    "Laos": 144, # Matches Laos (1)
    "Luxembourg": 48, # Matches Germany (!)
    "Malawi": 87, # Matches Mozambique (!)
    "Montenegro": 85,
    "Oman": 110, # Matches Saudi Arabia (!)
    "Republic of the Congo": 106,
    "Serbia": 19, # Matches Bulgaria (!)
    "South Sudan": 119,
    "Suriname": 18, # Matches Brazil (!)
    "Tajikistan": 128, # [128]
    "The Gambia": 111, # Matches Senegal (!)
    "Western Sahara": 29, # No clue why western sahara has such a low CountryID
}

for country, data in df_g.groupby("Country"):
    #print(country)
    zf_found = False
    for i in reversed(range(1,5)):

        ids = (data['Customer ID'].str[-i:].drop_duplicates().astype("int").values)
        #print(i, prev_id, ids)

        # lets see if we can find the "0" and "5" before each countryID
        if (len(ids) == 2) and (abs(ids[0]-ids[-1]) in [50, 500, 5000]):
            zf_found = True


        if (zf_found == True) & (len(ids) == 1) & (int(ids[0]) not in matching):
            prev_id = int(ids[0])
            print("Found CountyID for", country, "=", prev_id)
            matching[country] = prev_id
            #display(data[["Row ID", "Customer ID", "Country"]].head())
            df_g.loc[df_g['Country'] == country, 'Customer ID'] = df_g.loc[df_g['Country'] == country, 'Customer ID'].str[:-i]
            break

    if country in manual_matching:
        print("Manual CountyID for", country, "=", manual_matching[country])
        matching[country] = manual_matching[country]
        df_g.loc[df_g['Country'] == country, 'Customer ID'] = df_g.loc[df_g['Country'] == country, 'Customer ID'].str[:-len(str(manual_matching[country]))]
    elif zf_found == False:
        print("Coudn't find a CountryID for", country)
        ids = (data['Customer ID'].str[-4:].drop_duplicates().astype("int").values)
        print(ids, len(ids))
        out = out + "\n" + '"' + country + '": ' + str(prev_id + 1) + ', # ' + ids[0]
print(out)
#display(matching)

Found CountyID for Afghanistan = 1
Found CountyID for Albania = 2
Found CountyID for Algeria = 3
Found CountyID for Angola = 4
Found CountyID for Argentina = 5
Found CountyID for Armenia = 6
Found CountyID for Australia = 7
Found CountyID for Austria = 8
Found CountyID for Azerbaijan = 9
Manual CountyID for Bahrain = 10
Found CountyID for Bangladesh = 11
Found CountyID for Barbados = 12
Found CountyID for Belarus = 13
Found CountyID for Belgium = 14
Manual CountyID for Belize = 82
Found CountyID for Benin = 15
Manual CountyID for Bhutan = 58
Found CountyID for Bolivia = 16
Found CountyID for Bosnia and Herzegovina = 17
Manual CountyID for Botswana = 117
Found CountyID for Brazil = 18
Found CountyID for Bulgaria = 19
Manual CountyID for Burkina Faso = 111
Manual CountyID for Burundi = 20
Found CountyID for Cambodia = 21
Found CountyID for Cameroon = 22
Found CountyID for Canada = 23
Found CountyID for Central African Republic = 24
Manual CountyID for Chad = 25
Found CountyID for Chile = 26
Found CountyID for China = 27
Found CountyID for Colombia = 28
Manual CountyID for Costa Rica = 28
Found CountyID for Croatia = 30
Found CountyID for Cuba = 31
Manual CountyID for Cyprus = 64
Found CountyID for Czech Republic = 32
Found CountyID for Côte-d'Ivoire = 29
Found CountyID for Democratic Republic of the Congo = 33
Found CountyID for Denmark = 34
Found CountyID for Djibouti = 35
Found CountyID for Dominican Republic = 36
Found CountyID for Ecuador = 37
Found CountyID for Egypt = 38
Found CountyID for El Salvador = 39
Manual CountyID for Equatorial Guinea = 40
Manual CountyID for Eritrea = 41
Found CountyID for Estonia = 42
Found CountyID for Ethiopia = 43
Found CountyID for Finland = 44
Found CountyID for France = 45
Manual CountyID for French Guiana = 18
Found CountyID for Gabon = 46
Found CountyID for Georgia = 47
Found CountyID for Germany = 48
Found CountyID for Ghana = 49
Manual CountyID for Greece = 148
Manual CountyID for Guadeloupe = 50
Found CountyID for Guatemala = 51
Found CountyID for Guinea = 52
Found CountyID for Guinea-Bissau = 53
Manual CountyID for Guyana = 54
Found CountyID for Haiti = 54
Found CountyID for Honduras = 55
Found CountyID for Hong Kong = 56
Found CountyID for Hungary = 57
Found CountyID for India = 58
Found CountyID for Indonesia = 59
Found CountyID for Iran = 60
Found CountyID for Iraq = 61
Found CountyID for Ireland = 62
Found CountyID for Israel = 63
Found CountyID for Italy = 64
Found CountyID for Jamaica = 65
Found CountyID for Japan = 66
Found CountyID for Jordan = 67
Found CountyID for Kazakhstan = 68
Found CountyID for Kenya = 69
Manual CountyID for Kuwait = 110
Found CountyID for Kyrgyzstan = 70
Manual CountyID for Laos = 144
Found CountyID for Lebanon = 71
Found CountyID for Lesotho = 72
Found CountyID for Liberia = 73
Found CountyID for Libya = 74
Found CountyID for Lithuania = 75
Manual CountyID for Luxembourg = 48
Found CountyID for Macedonia = 76
Found CountyID for Madagascar = 77
Manual CountyID for Malawi = 87
Found CountyID for Malaysia = 78
Found CountyID for Mali = 79
Found CountyID for Martinique = 80
Found CountyID for Mauritania = 81
Found CountyID for Mexico = 82
Found CountyID for Moldova = 83
Found CountyID for Mongolia = 84
Manual CountyID for Montenegro = 85
Found CountyID for Morocco = 86
Found CountyID for Mozambique = 87
Found CountyID for Myanmar (Burma) = 88
Found CountyID for Namibia = 89
Found CountyID for Nepal = 90
Found CountyID for Netherlands = 91
Found CountyID for New Zealand = 92
Found CountyID for Nicaragua = 93
Found CountyID for Niger = 94
Found CountyID for Nigeria = 95
Found CountyID for Norway = 96
Manual CountyID for Oman = 110
Found CountyID for Pakistan = 97
Found CountyID for Panama = 98
Found CountyID for Papua New Guinea = 99
Found CountyID for Paraguay = 100
Found CountyID for Peru = 101
Found CountyID for Philippines = 102
Found CountyID for Poland = 103
Found CountyID for Portugal = 104
Found CountyID for Qatar = 105
Manual CountyID for Republic of the Congo = 106
Found CountyID for Romania = 107
Found CountyID for Russia = 108
Found CountyID for Rwanda = 109
Found CountyID for Saudi Arabia = 110
Found CountyID for Senegal = 111
Manual CountyID for Serbia = 19
Found CountyID for Sierra Leone = 112
Found CountyID for Singapore = 113
Found CountyID for Slovakia = 114
Found CountyID for Slovenia = 115
Found CountyID for Somalia = 116
Found CountyID for South Africa = 117
Found CountyID for South Korea = 118
Manual CountyID for South Sudan = 119
Found CountyID for Spain = 120
Found CountyID for Sri Lanka = 121
Found CountyID for Sudan = 122
Manual CountyID for Suriname = 18
Found CountyID for Swaziland = 123
Found CountyID for Sweden = 124
Found CountyID for Switzerland = 125
Found CountyID for Syria = 126
Found CountyID for Taiwan = 127
Manual CountyID for Tajikistan = 128
Found CountyID for Tanzania = 129
Found CountyID for Thailand = 130
Manual CountyID for The Gambia = 111
Found CountyID for Togo = 131
Found CountyID for Trinidad and Tobago = 132
Found CountyID for Tunisia = 133
Found CountyID for Turkey = 134
Found CountyID for Turkmenistan = 135
Found CountyID for Uganda = 136
Found CountyID for Ukraine = 137
Found CountyID for United Arab Emirates = 138
Found CountyID for United Kingdom = 139
Found CountyID for United States = 140
Found CountyID for Uruguay = 141
Found CountyID for Uzbekistan = 142
Found CountyID for Venezuela = 143
Found CountyID for Vietnam = 144
Manual CountyID for Western Sahara = 29
Found CountyID for Yemen = 145
Found CountyID for Zambia = 146
Found CountyID for Zimbabwe = 147

In [28]:
df_g["Order Priority"].drop_duplicates()

0       Medium
5         High
12         Low
18    Critical
Name: Order Priority, dtype: object

In [29]:
# Oh wow - the customers are sorted alphabetically and added 15 each times? WTF!!!
# And please beware that the entries for Greece got a 88888
df_g[["Customer Name", "Customer ID", "_Initials"]].sort_values(["Customer Name", "Customer ID"]).drop_duplicates().head(40)

              Customer Name Customer ID _Initials
730           Aaron Bergman    AB-10015        AB
6252          Aaron Bergman       AB-15        AB
725           Aaron Hawkins    AH-10030        AH
999          Aaron Smayling    AS-10045        AS
771         Adam Bellavance    AB-10060        AB
217               Adam Hart    AH-10075        AH
2185     Adam Shillingsburg    AS-10090        AS
641           Adrian Barton    AB-10105        AB
6598          Adrian Barton      AB-105        AB
1020            Adrian Hane    AH-10120        AH
11640           Adrian Hane      AH-120        AH
7018           Adrian Shami    AS-10135        AS
6359           Adrian Shami      AS-135        AS
1407            Aimee Bixby    AB-10150        AB
22144           Aimee Bixby      AB-150        AB
807             Alan Barnes    AB-10165        AB
6468            Alan Barnes      AB-165        AB
563          Alan Dominguez    AD-10180        AD
11715        Alan Dominguez      AD-180        AD
2667            Alan Haines    AH-10195        AH
6632            Alan Haines      AH-195        AH
575              Alan Hwang    AH-10210        AH
83               Alan Hwang      AH-210        AH
577       Alan Schoenberger    AS-10225        AS
4419      Alan Schoenberger      AS-225        AS
2183           Alan Shonely    AS-10240        AS
6109           Alan Shonely      AS-240        AS
1944   Alejandro Ballentine    AB-10255        AB
6633   Alejandro Ballentine      AB-255        AB
716         Alejandro Grove    AG-10270        AG
6267        Alejandro Grove      AG-270        AG
2066       Alejandro Savely    AS-10285        AS
168        Alejandro Savely      AS-285        AS
2611    Aleksandra Gannaway    AG-10300        AG
24685   Aleksandra Gannaway      AG-300        AG
17661   Aleksandra Gannaway    AG-88888        AG
1628             Alex Avila    AA-10315        AA
4211             Alex Avila      AA-315        AA
2535           Alex Grayson    AG-10330        AG
28536          Alex Grayson      AG-330        AG

In [30]:
row_ids = []
for person, data in df_g[["Customer Name", "Customer ID", "_Initials", "Row ID"]].sort_values(["Customer Name", "Customer ID", "Row ID"]).groupby("Customer Name"):
    ids = data["Customer ID"].drop_duplicates().values
    #print(cleaned_ids, i)
    
    # Find the ID with the lower RowID and than search the max RowID for this CustomerID!!!
    if person == "Susan Vittorini":
        # I have no clue what happened with "Susan Vittorini" (for Row ID 31295) which is the only person where multiple IDs changes happend:
        # 321,6/22/2014,SV-2093555
        # [...]
        # 29801,9/21/2016,SV-209357
        # 31295,12/20/2017,SV-1093559
        # 31296,12/20/2017,SV-1093559
        # 33604,11/6/2017,SV-209351406
        # [...]
        # 39938,12/3/2017,SV-209351404
        # 43885,9/25/2015,SV-1093595
        continue
    elif len(ids) > 1:
        # Find the customer ID with the highest row ID
        max_row_id = data['Row ID'].max()
        highest_row_id_customer_id = data.loc[data['Row ID'] == max_row_id, 'Customer ID'].iloc[0]

        # Find the highest row ID for the customer ID with the lowest row ID
        lowest_row_id = data.loc[data['Customer ID'] == highest_row_id_customer_id, 'Row ID'].min()

        # print()
        # print(person)
        # print("Lowest Row ID Customer ID:", highest_row_id_customer_id)
        # print("Highest Row ID for Lowest Row ID Customer ID:", lowest_row_id)
        row_ids.append(lowest_row_id)
    #break
row_ids.sort()
print(row_ids)
print(min(row_ids))

changeRowID = min(row_ids)




# Check if there are any rowIDs that are larger than the changeRowID (just to be safe!)
for person, data in df_g[["Customer Name", "Customer ID", "_Initials", "Row ID"]].sort_values(["Customer Name", "Customer ID", "Row ID"]).groupby("Customer Name"):
    ids = data["Customer ID"].drop_duplicates().values

    if person == "Susan Vittorini":
        continue
    elif len(ids) > 1:
        min_row_id = data['Row ID'].min()
        lowest_row_id_customer_id = data.loc[data['Row ID'] == min_row_id, 'Customer ID'].iloc[0]

        # Find the highest row ID for the customer ID with the lowest row ID
        max_row_id = data.loc[data['Customer ID'] == lowest_row_id_customer_id, 'Row ID'].max()
        if max_row_id > changeRowID:
            print(person, max_row_id, ">", changeRowID)

[41291, 41294, 41296, 41298, 41300, 41302, 41304, 41307, 41308, 41310, 41311, 41314, 41315, 41316, 41320, 41331, 41332, 41333, 41336, 41337, 41338, 41340, 41342, 41346, 41348, 41352, 41356, 41357, 41358, 41359, 41361, 41365, 41367, 41368, 41370, 41371, 41372, 41375, 41376, 41377, 41378, 41379, 41380, 41384, 41385, 41386, 41388, 41391, 41392, 41393, 41396, 41397, 41398, 41400, 41404, 41406, 41407, 41408, 41409, 41410, 41412, 41415, 41417, 41419, 41424, 41425, 41426, 41432, 41433, 41435, 41437, 41438, 41439, 41440, 41442, 41443, 41445, 41446, 41447, 41448, 41449, 41450, 41451, 41459, 41460, 41463, 41465, 41466, 41467, 41473, 41474, 41476, 41479, 41481, 41482, 41483, 41484, 41486, 41487, 41488, 41493, 41497, 41499, 41503, 41506, 41507, 41508, 41510, 41512, 41513, 41514, 41518, 41519, 41520, 41522, 41525, 41528, 41529, 41533, 41535, 41536, 41540, 41542, 41543, 41544, 41546, 41549, 41550, 41561, 41563, 41564, 41565, 41569, 41576, 41578, 41581, 41582, 41583, 41586, 41587, 41590, 41594, 41595, 41599, 41602, 41605, 41607, 41609, 41610, 41611, 41613, 41614, 41616, 41617, 41621, 41622, 41624, 41627, 41629, 41630, 41633, 41634, 41636, 41637, 41640, 41644, 41652, 41654, 41661, 41662, 41663, 41672, 41673, 41678, 41680, 41682, 41686, 41687, 41689, 41698, 41701, 41703, 41712, 41717, 41719, 41720, 41721, 41725, 41726, 41728, 41729, 41732, 41737, 41738, 41740, 41742, 41743, 41747, 41749, 41751, 41752, 41754, 41759, 41761, 41764, 41766, 41767, 41770, 41771, 41777, 41778, 41779, 41781, 41782, 41784, 41787, 41791, 41794, 41795, 41798, 41800, 41802, 41803, 41805, 41806, 41807, 41808, 41812, 41816, 41818, 41819, 41821, 41834, 41836, 41837, 41840, 41844, 41845, 41851, 41852, 41857, 41868, 41869, 41870, 41871, 41875, 41876, 41878, 41879, 41883, 41884, 41887, 41891, 41894, 41899, 41901, 41902, 41906, 41913, 41917, 41922, 41924, 41928, 41933, 41939, 41940, 41941, 41942, 41944, 41948, 41949, 41951, 41958, 41961, 41965, 41971, 41972, 41974, 41983, 41985, 41986, 41988, 41989, 41990, 41991, 41995, 41996, 41999, 42008, 42009, 42011, 42012, 42013, 42014, 42015, 42016, 42024, 42031, 42034, 42035, 42036, 42039, 42041, 42042, 42047, 42049, 42050, 42052, 42055, 42057, 42058, 42059, 42068, 42071, 42073, 42074, 42079, 42080, 42083, 42085, 42086, 42087, 42095, 42103, 42108, 42112, 42114, 42125, 42128, 42151, 42158, 42159, 42160, 42162, 42163, 42166, 42167, 42168, 42169, 42171, 42176, 42177, 42180, 42181, 42184, 42185, 42188, 42193, 42198, 42200, 42202, 42207, 42209, 42213, 42216, 42219, 42223, 42225, 42230, 42234, 42243, 42248, 42251, 42255, 42260, 42261, 42266, 42269, 42270, 42272, 42273, 42275, 42276, 42280, 42282, 42288, 42289, 42295, 42302, 42309, 42313, 42324, 42329, 42337, 42338, 42341, 42342, 42346, 42351, 42355, 42358, 42359, 42362, 42372, 42374, 42382, 42397, 42400, 42403, 42404, 42405, 42406, 42408, 42409, 42415, 42428, 42431, 42432, 42434, 42446, 42447, 42450, 42464, 42465, 42466, 42467, 42475, 42476, 42481, 42484, 42486, 42489, 42490, 42492, 42493, 42494, 42505, 42509, 42511, 42512, 42513, 42520, 42523, 42526, 42529, 42534, 42541, 42547, 42554, 42558, 42565, 42568, 42570, 42580, 42581, 42584, 42587, 42589, 42590, 42592, 42593, 42594, 42595, 42598, 42601, 42603, 42609, 42629, 42631, 42633, 42640, 42650, 42657, 42669, 42670, 42671, 42674, 42675, 42682, 42686, 42689, 42718, 42723, 42730, 42738, 42745, 42754, 42755, 42763, 42770, 42773, 42774, 42783, 42785, 42794, 42806, 42809, 42813, 42823, 42824, 42828, 42837, 42847, 42848, 42856, 42859, 42861, 42865, 42869, 42871, 42881, 42892, 42893, 42894, 42897, 42912, 42922, 42923, 42941, 42942, 42943, 42944, 42945, 42947, 42952, 42953, 42954, 42964, 42968, 42980, 42982, 42984, 42992, 42993, 42998, 43001, 43004, 43011, 43017, 43020, 43021, 43036, 43041, 43042, 43048, 43049, 43052, 43062, 43064, 43070, 43072, 43074, 43076, 43115, 43123, 43128, 43139, 43159, 43165, 43166, 43173, 43181, 43182, 43185, 43215, 43219, 43238, 43239, 43241, 43246, 43247, 43257, 43262, 43275, 43277, 43283, 43285, 43297, 43299, 43306, 43307, 43320, 43338, 43340, 43343, 43350, 43351, 43352, 43367, 43369, 43379, 43388, 43404, 43408, 43413, 43418, 43434, 43442, 43445, 43453, 43464, 43465, 43477, 43492, 43497, 43501, 43517, 43520, 43532, 43533, 43541, 43567, 43569, 43583, 43593, 43619, 43622, 43625, 43635, 43668, 43677, 43684, 43692, 43710, 43727, 43737, 43761, 43795, 43815, 43819, 43821, 43823, 43832, 43845, 43857, 43861, 43869, 43883, 43919, 43930, 43934, 43942, 43956, 43973, 43976, 43989, 43999, 44017, 44025, 44030, 44045, 44049, 44062, 44098, 44127, 44145, 44163, 44165, 44166, 44172, 44179, 44187, 44188, 44200, 44234, 44236, 44265, 44273, 44284, 44286, 44316, 44317, 44336, 44339, 44342, 44343, 44346, 44348, 44377, 44378, 44391, 44412, 44413, 44421, 44422, 44428, 44439, 44446, 44453, 44458, 44459, 44495, 44499, 44515, 44539, 44542, 44543, 44558, 44570, 44584, 44606, 44635, 44661, 44684, 44708, 44713, 44750, 44783, 44784, 44807, 44825, 44832, 44871, 44877, 44880, 44887, 44930, 44932, 44940, 44971, 44986, 45006, 45032, 45056, 45070, 45114, 45144, 45182, 45200, 45201, 45209, 45237, 45247, 45253, 45304, 45340, 45343, 45354, 45358, 45366, 45368, 45385, 45393, 45417, 45422, 45502, 45583, 45643, 45650, 45704, 45744, 45794, 45903, 45910, 46010, 46069, 46118, 46182, 46186, 46232, 46250, 46254, 46261, 46385, 46417, 46537, 46544, 46574, 46621, 46641, 46648, 46717, 46718, 46721, 46725, 46778, 46946, 47058, 47093, 47320, 47328, 47384, 47400, 47453, 47554, 47632, 47657, 47768, 48066, 48428, 48430, 48506, 48548, 48851, 48920, 49559, 50126, 50338, 50895]
41291

In [31]:
last_id = 0

# TODO The reason why there a sometimes multiple ids (i.e.:AG-270 and AG-10270) has something to do with the row ID? 
# Somewhere over the ID 40.000 the ID in Customer ID changes by 10.000 

for name, data in df_g.groupby("Customer Name"):
    
    temp_id = last_id + 15
    # if ( last_id < 1000 and temp_id > 1000):
    #     temp_id += 6000 # Please don't ask me why

    ids = (data['Customer ID'].str[3:].drop_duplicates().astype("int").values)
    ids = ids[~((ids == 88887) | (ids == 88888))]  # Just needed for "Aleksandra Gannaway" and "Denny Joy" in Greece

    
    if (len(ids) == 1) & (temp_id == ids[0]):
        # print("Treffer:", name, len(str(temp_id)), temp_id, ids)
        last_id = temp_id
    elif (len(ids) == 1) & (temp_id + 10000 == ids[0]):
        # print("Treffer:", name, len(str(temp_id)), temp_id, ids)
        last_id = temp_id
    elif name == "Kai Rey":
        # TODO No idea what happened here, but Kai Rey shares the same ID than the stupid Customer Name "Sample Company A"
        # Since Kai Rey also has the Initials "SC" (same as Sample Company A) I guess Kai Rey shoud be renamed "Sample Company A"
        print("WTF:", name, len(str(temp_id)), temp_id, ids)
        continue
    elif (len(ids) == 2) & (abs(ids[0] - ids[-1]) == 10000) & (wild_mode == True) & (ids.min() == temp_id):
        # print("Treffer:", name, len(str(temp_id)), temp_id, ids)
        last_id = temp_id
        #break
    else:
        print("Unknown:", name, len(str(temp_id)), temp_id, ids)
    #break
    #for country, data2 in data.group("Country"):

NameError: name 'wild_mode' is not defined

In [ ]:
last_id = 0
wild_mode = False

for name, data in df_g.groupby("Customer Name"):
    
    temp_id = last_id + 15
    if ( last_id < 1000 and temp_id > 1000):
        temp_id += 6000 # Please don't ask me why
    elif ( last_id < 10000 and temp_id > 10000):
        wild_mode = True    

    ids = (data['Customer ID'].str[-len(str(temp_id)):].drop_duplicates().astype("int").values)
    
    if (len(ids) == 1) & (temp_id == ids[0]):
        last_id = temp_id
    elif name == "Kai Rey":
        # TODO No idea what happened here, but Kai Rey shares the same ID than the stupid Customer Name "Sample Company A"
        # Since Kai Rey also has the Initials "SC" (same as Sample Company A) I guess Kai Rey shoud be renamed "Sample Company A"
        print(name, len(str(temp_id)), temp_id, ids)
        continue
    elif (len(ids) == 2) & (abs(ids[0] - ids[-1]) == 10000) & (wild_mode == True) & (ids.min() == temp_id):
        last_id = temp_id
        #break
    #break
    #for country, data2 in data.group("Country"):

Kai Rey 3 420 [50]

In [ ]:
# We already removed RegionIDs for Unites States
# We already removed CountryID for all states
# Now we look for the last letter which is supposed to be a 0 or a 5
for country, data in df_g.groupby("Country"):
    ids = (data['Customer ID'].str[-1:].drop_duplicates().astype("int").values)
    ids = [num for num in ids if num != 0 and num != 5]
    if len(ids) > 0:
        print(country, ids)

Greece [7, 8]

### How is the field Order ID build?
* `IN-2017-CA120551-42816`
* `[Country Code]-[Year]-[Customer ID]-[Days since 1899, 12, 30]`

The part with the "days since 1899, 12, 30 is the way that Excel calculates the date internally.

In [ ]:

# for date, data in df_g.groupby(["Order Date"]).sort_values('Order Date'):
#     print(date, len(data))

# Group the dataframe by 'Date' and count the occurrences
grouped_df = df_g.groupby('Order Date').size().reset_index(name='Count')

# Sort the dataframe by 'Date' in chronological order
sorted_df = grouped_df.sort_values('Order Date')

# Print the sorted dataframe
# print(sorted_df[sorted_df["Order Date"] > "2016-02-28"])
# print(sorted_df)

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
# for date, data in df_g.groupby(["Order Date"]).sort_values('Order Date'):
#     print(date, len(data))

# Group the dataframe by 'Date' and count the occurrences
grouped_df = df.groupby('Order Date').size().reset_index(name='Count')

# Sort the dataframe by 'Date' in chronological order
sorted_df = grouped_df.sort_values('Order Date')

# Print the sorted dataframe
# print(sorted_df)

In [ ]:
#display(df_g[["Customer ID", "Order ID"]])

display(df_g[df_g.apply(lambda row: row['Customer ID'].replace('-', '') not in row['Order ID'], axis=1)][["Order ID", "Customer ID"]])

for c, data in (df_g[df_g.apply(lambda row: row['Customer ID'].replace('-', '') not in row['Order ID'], axis=1)].groupby(["Country"])):
    print(f"{c}: {len(data)} lines")

print("Are there any entries for Country 'United States' without a '140-' in the Order ID?") 
df_g[(df_g["Country"] == "United States") & ("140-" not in df_g["Order ID"].to_string())]

print("What are the numbers in the Order ID?")
df_g[(df_g["Country"] == "United States")]["Order ID"].head()

#display(df_g[(df_g['Customer_ID_Contained'] == False) & ("140-" in df_g["Order ID"].to_string()) & (df_g.Country != "United States")][["Order ID", "Customer ID", "Country"]])

Empty DataFrame
Columns: [Order ID, Customer ID]
Index: []

Are there any entries for Country 'United States' without a '140-' in the Order ID?
What are the numbers in the Order ID?

40553    CA-2016-AM10705140-42632
40554    CA-2016-AM10705140-42632
40555    CA-2016-AM10705140-42632
40556    CA-2017-KN16705140-42898
40557    CA-2015-MS17710140-42079
Name: Order ID, dtype: object

In [ ]:
print(df.shape)
print(df_g.shape) # + Market, Shipping Cost, Order Priority

(9994, 21)
(51290, 26)

## How are the ShippingCosts calculated?
* 2 pieces cost 2.88 = 5,76
* 3 pieces cost 1.85 = 5,55

In [ ]:
# 32060,CA-2014-CS12250140-41653,1/14/2014,1/16/2014,Second Class,CS-122501408,Chris Selesnick,Corporate,71111,Bossier City,Louisiana,United States,Southern US,USCA,OFF-FA-6129,Staples,Fasteners,Office Supplies,"11,36",2,0,"5,3392","2,88",Critical
# 32063,CA-2014-CS12250140-41653,1/14/2014,1/16/2014,Second Class,CS-122501408,Chris Selesnick,Corporate,71111,Bossier City,Louisiana,United States,Southern US,USCA,OFF-FA-6129,Staples,Fasteners,Office Supplies,"5,64",3,0,"2,7072","1,85",Critical

## Some Orders are duplicated due to different shipping costs (!!!)

In [48]:
i = 0
for key, data in df_g.groupby(["Order Date", 'Customer Name', "Product ID", "City"]):
    if len(data) > 1:
        print(key)
        display(data)
        i += 1
        if i > 10:
            break

(Timestamp('2014-01-14 00:00:00'), 'Chris Selesnick', 'OFF-FA-6129', 'Bossier City')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
44694,32060,CA-2014-CS12250140-41653,2014-01-14,2014-01-16,Second Class,CS-12250,Chris Selesnick,Corporate,71111.0,Bossier City,Louisiana,United States,Southern US,USCA,OFF-FA-6129,Staples,Fasteners,Office Supplies,"11,36",2,0,"5,3392","2,88",Critical,CS,8
44695,32063,CA-2014-CS12250140-41653,2014-01-14,2014-01-16,Second Class,CS-12250,Chris Selesnick,Corporate,71111.0,Bossier City,Louisiana,United States,Southern US,USCA,OFF-FA-6129,Staples,Fasteners,Office Supplies,"5,64",3,0,"2,7072","1,85",Critical,CS,8

(Timestamp('2014-04-01 00:00:00'), 'Hunter Lopez', 'TEC-PH-5839', 'Rajshahi')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
4135,23445,IN-2014-HL1504011-41730,2014-04-01,2014-04-07,Standard Class,HL-15040,Hunter Lopez,Consumer,NaN,Rajshahi,Rajshahi,Bangladesh,Southern Asia,Asia Pacific,TEC-PH-5839,"Samsung Smart Phone, Cordless",Phones,Technology,1278,2,0,"460,08",34,Medium,HL,0
4136,23447,IN-2014-HL1504011-41730,2014-04-01,2014-04-07,Standard Class,HL-15040,Hunter Lopez,Consumer,NaN,Rajshahi,Rajshahi,Bangladesh,Southern Asia,Asia Pacific,TEC-PH-5839,"Samsung Smart Phone, Cordless",Phones,Technology,3195,5,0,"1150,2","23,95",Medium,HL,0

(Timestamp('2014-04-22 00:00:00'), 'Laurel Beltran', 'FUR-CH-4417', 'Columbus')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
47269,34702,US-2014-LB16795140-41751,2014-04-22,2014-04-26,Standard Class,LB-16795,Laurel Beltran,Home Office,43229.0,Columbus,Ohio,United States,Eastern US,USCA,FUR-CH-4417,Global Leather Highback Executive Chair with P...,Chairs,Furniture,"281,372",2,"0,3","-12,0588","21,59",Medium,LB,6
47270,34703,US-2014-LB16795140-41751,2014-04-22,2014-04-26,Standard Class,LB-16795,Laurel Beltran,Home Office,43229.0,Columbus,Ohio,United States,Eastern US,USCA,FUR-CH-4417,Global Leather Highback Executive Chair with P...,Chairs,Furniture,"281,372",2,"0,3","-12,0588","3,46",Medium,LB,6

(Timestamp('2014-05-02 00:00:00'), 'Andrew Roberts', 'OFF-BI-3736', 'Armidale')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
972,27443,ID-2014-AR105107-41761,2014-05-02,2014-05-08,Standard Class,AR-10510,Andrew Roberts,Consumer,NaN,Armidale,New South Wales,Australia,Oceania,Asia Pacific,OFF-BI-3736,"Cardinal Hole Reinforcements, Recycled",Binders,Office Supplies,"15,39",3,"0,1","2,52","1,7",Medium,AR,0
973,27445,ID-2014-AR105107-41761,2014-05-02,2014-05-08,Standard Class,AR-10510,Andrew Roberts,Consumer,NaN,Armidale,New South Wales,Australia,Oceania,Asia Pacific,OFF-BI-3736,"Cardinal Hole Reinforcements, Recycled",Binders,Office Supplies,"15,39",3,"0,1","2,52","1,64",Medium,AR,0

(Timestamp('2014-08-17 00:00:00'), 'Shirley Jackson', 'TEC-PH-5271', 'Singapore')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
34461,29966,IN-2014-SJ20500113-41868,2014-08-17,2014-08-21,Standard Class,SJ-20500,Shirley Jackson,Consumer,NaN,Singapore,Singapore,Singapore,Southeastern Asia,Asia Pacific,TEC-PH-5271,"Motorola Speaker Phone, Full Size",Phones,Technology,"524,28",4,0,"146,76","31,75",Medium,SJ,0
34480,29965,IN-2014-SJ20500113-41868,2014-08-17,2014-08-21,Standard Class,SJ-20500,Shirley Jackson,Consumer,NaN,Singapore,Singapore,Singapore,Southeastern Asia,Asia Pacific,TEC-PH-5271,"Motorola Speaker Phone, Full Size",Phones,Technology,"262,14",2,0,"73,38","22,27",Medium,SJ,0

(Timestamp('2014-10-14 00:00:00'), 'Fred Wasserman', 'OFF-LA-5402', 'Dhaka')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
4092,27930,IN-2014-FW1439511-41926,2014-10-14,2014-10-19,Standard Class,FW-14395,Fred Wasserman,Corporate,NaN,Dhaka,Dhaka,Bangladesh,Southern Asia,Asia Pacific,OFF-LA-5402,"Novimex Shipping Labels, 5000 Label Set",Labels,Office Supplies,"68,22",6,0,"33,3","5,29",Medium,FW,0
4114,27934,IN-2014-FW1439511-41926,2014-10-14,2014-10-19,Standard Class,FW-14395,Fred Wasserman,Corporate,NaN,Dhaka,Dhaka,Bangladesh,Southern Asia,Asia Pacific,OFF-LA-5402,"Novimex Shipping Labels, 5000 Label Set",Labels,Office Supplies,"11,37",1,0,"5,55","1,49",Medium,FW,0

(Timestamp('2014-12-26 00:00:00'), 'Chad McGuire', 'OFF-BI-3255', 'Ho Chi Minh City')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
50879,28131,ID-2014-CM12115144-41999,2014-12-26,2014-12-31,Standard Class,CM-12115,Chad McGuire,Consumer,NaN,Ho Chi Minh City,Ho Chí Minh City,Vietnam,Southeastern Asia,Asia Pacific,OFF-BI-3255,"Avery Binding Machine, Clear",Binders,Office Supplies,"160,356",4,"0,17","-13,524","20,67",Medium,CM,0
50960,28135,ID-2014-CM12115144-41999,2014-12-26,2014-12-31,Standard Class,CM-12115,Chad McGuire,Consumer,NaN,Ho Chi Minh City,Ho Chí Minh City,Vietnam,Southeastern Asia,Asia Pacific,OFF-BI-3255,"Avery Binding Machine, Clear",Binders,Office Supplies,"80,178",2,"0,17","-6,762","3,3",Medium,CM,0

(Timestamp('2014-12-26 00:00:00'), 'Cynthia Delaney', 'OFF-FA-6129', 'Moreno Valley')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
41904,39072,CA-2014-CD12790140-41999,2014-12-26,2014-12-30,Standard Class,CD-12790,Cynthia Delaney,Home Office,92553.0,Moreno Valley,California,United States,Western US,USCA,OFF-FA-6129,Staples,Fasteners,Office Supplies,"10,98",1,0,"2,9646","1,95",Medium,CD,4
41905,39073,CA-2014-CD12790140-41999,2014-12-26,2014-12-30,Standard Class,CD-12790,Cynthia Delaney,Home Office,92553.0,Moreno Valley,California,United States,Western US,USCA,OFF-FA-6129,Staples,Fasteners,Office Supplies,"7,86",3,0,"3,6156","1,3",Medium,CD,4

(Timestamp('2015-03-03 00:00:00'), 'Bart Watters', 'OFF-ST-4294', 'Oslo')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
31461,16804,ES-2015-BW1111096-42066,2015-03-03,2015-03-09,Standard Class,BW-11110,Bart Watters,Corporate,NaN,Oslo,Oslo,Norway,Northern Europe,Europe,OFF-ST-4294,"Fellowes Trays, Industrial",Storage,Office Supplies,"173,61",3,0,"41,58","11,27",Medium,BW,0
31462,16805,ES-2015-BW1111096-42066,2015-03-03,2015-03-09,Standard Class,BW-11110,Bart Watters,Corporate,NaN,Oslo,Oslo,Norway,Northern Europe,Europe,OFF-ST-4294,"Fellowes Trays, Industrial",Storage,Office Supplies,"115,74",2,0,"27,72","10,49",Medium,BW,0

(Timestamp('2015-05-04 00:00:00'), 'Arthur Gainer', 'OFF-AP-4508', 'Mexico City')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
25957,2378,MX-2015-AG1090082-42128,2015-05-04,2015-05-09,Standard Class,AG-10900,Arthur Gainer,Consumer,NaN,Mexico City,Distrito Federal,Mexico,Central America,LATAM,OFF-AP-4508,"Hamilton Beach Stove, White",Appliances,Office Supplies,"3242,88",9,0,"324,18","279,53",Medium,AG,0
25984,2377,MX-2015-AG1090082-42128,2015-05-04,2015-05-09,Standard Class,AG-10900,Arthur Gainer,Consumer,NaN,Mexico City,Distrito Federal,Mexico,Central America,LATAM,OFF-AP-4508,"Hamilton Beach Stove, White",Appliances,Office Supplies,"720,64",2,0,"72,04","65,58",Medium,AG,0

(Timestamp('2015-07-05 00:00:00'), 'Muhammed Yedwab', 'OFF-BI-3734', 'Tel Aviv')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
23267,51176,IS-2015-MY829563-42190,2015-07-05,2015-07-07,First Class,MY-8295,Muhammed Yedwab,Corporate,NaN,Tel Aviv,Tel Aviv,Israel,Western Asia,Asia Pacific,OFF-BI-3734,"Cardinal Hole Reinforcements, Durable",Binders,Office Supplies,"41,04",6,0,"8,46","4,5",High,MY,0
23274,51174,IS-2015-MY829563-42190,2015-07-05,2015-07-07,First Class,MY-8295,Muhammed Yedwab,Corporate,NaN,Tel Aviv,Tel Aviv,Israel,Western Asia,Asia Pacific,OFF-BI-3734,"Cardinal Hole Reinforcements, Durable",Binders,Office Supplies,"6,84",1,0,"1,41","1,73",High,MY,0

In [32]:
# Select all columns except 'Row ID'
columns_to_check = df_g.columns.drop(['Row ID', 'Shipping Cost'])

# Check for duplicate rows based on selected columns
duplicates = df_g.duplicated(subset=columns_to_check, keep=False)

# Filter the dataframe to show only the duplicate rows
duplicate_rows = df_g[duplicates]

# Print the duplicate rows
display(duplicate_rows)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Product Name,Sub-Category,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,_Initials,_Region ID
223,44647,AG-2017-CD27903-42967,2017-08-20,2017-08-25,Standard Class,CD-2790,Cynthia Delaney,Home Office,NaN,Oran,Oran,Algeria,North Africa,Africa,TEC-AC-5219,"Memorex Mouse, USB",Accessories,Technology,"56,76",2,0,"10,74","5,43",High,CD,0
231,44649,AG-2017-CD27903-42967,2017-08-20,2017-08-25,Standard Class,CD-2790,Cynthia Delaney,Home Office,NaN,Oran,Oran,Algeria,North Africa,Africa,TEC-AC-5219,"Memorex Mouse, USB",Accessories,Technology,"56,76",2,0,"10,74","2,77",High,CD,0
972,27443,ID-2014-AR105107-41761,2014-05-02,2014-05-08,Standard Class,AR-10510,Andrew Roberts,Consumer,NaN,Armidale,New South Wales,Australia,Oceania,Asia Pacific,OFF-BI-3736,"Cardinal Hole Reinforcements, Recycled",Binders,Office Supplies,"15,39",3,"0,1","2,52","1,7",Medium,AR,0
973,27445,ID-2014-AR105107-41761,2014-05-02,2014-05-08,Standard Class,AR-10510,Andrew Roberts,Consumer,NaN,Armidale,New South Wales,Australia,Oceania,Asia Pacific,OFF-BI-3736,"Cardinal Hole Reinforcements, Recycled",Binders,Office Supplies,"15,39",3,"0,1","2,52","1,64",Medium,AR,0
1170,27358,IN-2016-SF202007-42527,2016-06-06,2016-06-06,Same Day,SF-20200,Sarah Foster,Consumer,NaN,Newcastle,New South Wales,Australia,Oceania,Asia Pacific,OFF-AR-6118,"Stanley Pencil Sharpener, Easy-Erase",Art,Office Supplies,"23,436",1,"0,1","9,876","6,68",Medium,SF,0
1190,27357,IN-2016-SF202007-42527,2016-06-06,2016-06-06,Same Day,SF-20200,Sarah Foster,Consumer,NaN,Newcastle,New South Wales,Australia,Oceania,Asia Pacific,OFF-AR-6118,"Stanley Pencil Sharpener, Easy-Erase",Art,Office Supplies,"23,436",1,"0,1","9,876","1,85",Medium,SF,0
4295,13944,ES-2015-RF1984014-42245,2015-08-29,2015-09-05,Standard Class,RF-19840,Roy Französisch,Consumer,NaN,Mechelen,Antwerp,Belgium,Western Europe,Europe,OFF-AR-5926,"Sanford Pens, Fluorescent",Art,Office Supplies,"37,08",3,0,"10,35","2,98",Medium,RF,0
4296,13946,ES-2015-RF1984014-42245,2015-08-29,2015-09-05,Standard Class,RF-19840,Roy Französisch,Consumer,NaN,Mechelen,Antwerp,Belgium,Western Europe,Europe,OFF-AR-5926,"Sanford Pens, Fluorescent",Art,Office Supplies,"37,08",3,0,"10,35","1,84",Medium,RF,0
6756,8003,MX-2015-LS1720026-42341,2015-12-03,2015-12-07,Standard Class,LS-17200,Luke Schmidt,Corporate,NaN,Rancagua,O'Higgins,Chile,South America,LATAM,FUR-CH-5775,"SAFCO Executive Leather Armchair, Red",Chairs,Furniture,"615,24",2,0,"12,28","68,727",Medium,LS,0
6759,8007,MX-2015-LS1720026-42341,2015-12-03,2015-12-07,Standard Class,LS-17200,Luke Schmidt,Corporate,NaN,Rancagua,O'Higgins,Chile,South America,LATAM,FUR-CH-5775,"SAFCO Executive Leather Armchair, Red",Chairs,Furniture,"615,24",2,0,"12,28","54,907",Medium,LS,0
24802,49443,KE-2016-PC900069-42423,2016-02-23,2016-02-25,Second Class,PC-9000,Pauline Chand,Home Office,NaN,Thika,Kiambu,Kenya,Eastern Africa,Africa,OFF-EN-3656,"Cameo Business Envelopes, Set of 50",Envelopes,Office Supplies,"20,49",1,0,"8,19","2,58",High,PC,0
24804,49444,KE-2016-PC900069-42423,2016-02-23,2016-02-25,Second Class,PC-9000,Pauline Chand,Home Office,NaN,Thika,Kiambu,Kenya,Eastern Africa,Africa,OFF-EN-3656,"Cameo Business Envelopes, Set of 50",Envelopes,Office Supplies,"20,49",1,0,"8,19","2,41",High,PC,0
35930,10449,ES-2016-SR20740120-42535,2016-06-14,2016-06-21,Standard Class,SR-20740,Steven Roelle,Home Office,NaN,Madrid,Madrid,Spain,Southern Europe,Europe,OFF-BI-6371,"Wilson Jones 3-Hole Punch, Economy",Binders,Office Supplies,"83,97",3,0,"27,63","3,88",Medium,SR,0
35939,10446,ES-2016-SR20740120-42535,2016-06-14,2016-06-21,Standard Class,SR-20740,Steven Roelle,Home Office,NaN,Madrid,Madrid,Spain,Southern Europe,Europe,OFF-BI-6371,"Wilson Jones 3-Hole Punch, Economy",Binders,Office Supplies,"83,97",3,0,"27,63","3,14",Medium,SR,0
36724,29853,IN-2015-RM19375130-42313,2015-11-05,2015-11-06,First Class,RM-19375,Raymond Messe,Consumer,NaN,Bangkok,Bangkok,Thailand,Southeastern Asia,Asia Pacific,FUR-CH-5450,"Office Star Steel Folding Chair, Adjustable",Chairs,Furniture,"343,83",5,"0,27","89,43","72,95",Medium,RM,0
36734,29854,IN-2015-RM19375130-42313,2015-11-05,2015-11-06,First Class,RM-19375,Raymond Messe,Consumer,NaN,Bangkok,Bangkok,Thailand,Southeastern Asia,Asia Pacific,FUR-CH-5450,"Office Star Steel Folding Chair, Adjustable",Chairs,Furniture,"343,83",5,"0,27","89,43","55,8",Medium,RM,0
47269,34702,US-2014-LB16795140-41751,2014-04-22,2014-04-26,Standard Class,LB-16795,Laurel Beltran,Home Office,43229.0,Columbus,Ohio,United States,Eastern US,USCA,FUR-CH-4417,Global Leather Highback Executive Chair with P...,Chairs,Furniture,"281,372",2,"0,3","-12,0588","21,59",Medium,LB,6
47270,34703,US-2014-LB16795140-41751,2014-04-22,2014-04-26,Standard Class,LB-16795,Laurel Beltran,Home Office,43229.0,Columbus,Ohio,United States,Eastern US,USCA,FUR-CH-4417,Global Leather Highback Executive Chair with P...,Chairs,Furniture,"281,372",2,"0,3","-12,0588","3,46",Medium,LB,6

In [249]:
display('|'.join(duplicate_rows["Order ID"].drop_duplicates().values))

'AG-2017-CD27903-42967|ID-2014-AR105107-41761|IN-2016-SF202007-42527|ES-2015-RF1984014-42245|MX-2015-LS1720026-42341|KE-2016-PC900069-42423|ES-2016-SR20740120-42535|IN-2015-RM19375130-42313|US-2014-LB16795140-41751'

In [35]:
orders_df = df[['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID']]

# Splitting Products dataframe
products_df = df[['Product ID', 'Product Name', 'Sub-Category', 'Category']]

# Splitting Customers dataframe
customers_df = df[['Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City', 'State', 'Country', 'Region' ]]

# Print the first few rows of each dataframe (optional)
print("Orders dataframe:")
# print(orders_df.head())
# print(products_df.head())
# print(customers_df.head())
display(df.head())

Orders dataframe:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [36]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [37]:
customer = df["Customer ID", "Customer Name"]

KeyError: ('Customer ID', 'Customer Name')